usagemetricsadf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "usagemetricsadf"
		},
		"getgroups_api_ds_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'getgroups_api_ds'"
		},
		"getgroups_sql_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'getgroups_sql_ls'"
		},
		"getreports_api_ls_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'getreports_api_ls'"
		},
		"getreports_sql_ds_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'getreports_sql_ds'"
		},
		"getusers_api_ls_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'getusers_api_ls'"
		},
		"view_report_api_ls_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'view_report_api_ls'"
		},
		"viewreport_history_api_ls_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'viewreport_history_api_ls'"
		},
		"getgroups_api_ds_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.powerbi.com/v1.0/myorg/admin/groups?%24top=2000"
		},
		"getgroups_api_ds_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"getreports_api_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.powerbi.com/v1.0/myorg/admin/groups/',linkedService().groupid,'/reports')}"
		},
		"getreports_api_ls_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"getusers_api_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.powerbi.com/v1.0/myorg/admin/reports/',linkedService().reportid,'/users')}"
		},
		"getusers_api_ls_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"view_report_api_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.powerbi.com/v1.0/myorg/admin/activityevents?startDateTime=''',linkedService().urldate,'T00%3A00%3A00.000Z''&endDateTime=''',linkedService().urldate,'T23%3A59%3A59.000Z''&%24filter=Activity%20eq%20''viewreport''')}"
		},
		"view_report_api_ls_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"viewreport_history_api_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.powerbi.com/v1.0/myorg/admin/activityevents?startDateTime=''',substring(addDays(utcNow(), -1), 0, 10),'T00%3A00%3A00.000Z''&endDateTime=''',substring(addDays(utcNow(), -1), 0, 10),'T23%3A59%3A59.000Z''&%24filter=Activity%20eq%20''viewreport''')}"
		},
		"viewreport_history_api_ls_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/getgroups_api_ds')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('getgroups_api_ds_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('getgroups_api_ds_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('getgroups_api_ds_clientSecret')]"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/getgroups_sql_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('getgroups_sql_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/getreports_api_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"groupid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('getreports_api_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('getreports_api_ls_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('getreports_api_ls_clientSecret')]"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/getreports_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('getreports_sql_ds_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/getusers_api_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"reportid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('getusers_api_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('getusers_api_ls_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('getusers_api_ls_clientSecret')]"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/view_report_api_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"urldate": {
						"type": "string",
						"defaultValue": "@substring(addDays(utcNow(), -1), 0, 10)"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('view_report_api_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": "true",
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('view_report_api_ls_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('view_report_api_ls_clientSecret')]"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default",
					"dataFactoryName": "usagemetricsadf"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/viewreport_history_api_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('viewreport_history_api_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": "true",
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('viewreport_history_api_ls_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('viewreport_history_api_ls_clientSecret')]"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default",
					"dataFactoryName": "UsageMetricsDF",
					"clientsecret": ".TR8Q~Jhhvx3rUBMXX4Ksyr1XZNMO8OellLDNazb"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/getgroups_api_ls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "getgroups_api_ds",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/getgroups_api_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getgroups_sql_db')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "getgroups_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "groups"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/getgroups_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getreports_api_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "getreports_api_ls",
					"type": "LinkedServiceReference",
					"parameters": {
						"groupid": {
							"value": "@dataset().id",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"id": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/getreports_api_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getreports_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "getreports_sql_ds",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "viewreports"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/getreports_sql_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getusers_api_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "getusers_api_ls",
					"type": "LinkedServiceReference",
					"parameters": {
						"reportid": {
							"value": "@dataset().report_id",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"report_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/getusers_api_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getusers_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "getgroups_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "report_user_access_right",
						"type": "varchar"
					},
					{
						"name": "email_address",
						"type": "varchar"
					},
					{
						"name": "display_name",
						"type": "varchar"
					},
					{
						"name": "identifier",
						"type": "varchar"
					},
					{
						"name": "graph_id",
						"type": "varchar"
					},
					{
						"name": "principal_type",
						"type": "varchar"
					},
					{
						"name": "user_type",
						"type": "varchar"
					},
					{
						"name": "report_id",
						"type": "varchar"
					},
					{
						"name": "updated_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "users"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/getgroups_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getusersql_ds_1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "getgroups_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "report_user_access_right",
						"type": "varchar"
					},
					{
						"name": "email_address",
						"type": "varchar"
					},
					{
						"name": "display_name",
						"type": "varchar"
					},
					{
						"name": "identifier",
						"type": "varchar"
					},
					{
						"name": "graph_id",
						"type": "varchar"
					},
					{
						"name": "principal_type",
						"type": "varchar"
					},
					{
						"name": "user_type",
						"type": "varchar"
					},
					{
						"name": "report_id",
						"type": "varchar"
					},
					{
						"name": "updated_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "users1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/getgroups_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/viewreport_api_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "view_report_api_ls",
					"type": "LinkedServiceReference",
					"parameters": {
						"urldate": "@substring(addDays(utcNow(), -1), 0, 10)"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/view_report_api_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/viewreports_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "getgroups_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "varchar"
					},
					{
						"name": "RecordType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreationTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Operation",
						"type": "varchar"
					},
					{
						"name": "OrganizationId",
						"type": "varchar"
					},
					{
						"name": "UserType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserKey",
						"type": "varchar"
					},
					{
						"name": "Workload",
						"type": "varchar"
					},
					{
						"name": "UserId",
						"type": "varchar"
					},
					{
						"name": "ClientIP",
						"type": "varchar"
					},
					{
						"name": "Activity",
						"type": "varchar"
					},
					{
						"name": "ItemName",
						"type": "varchar"
					},
					{
						"name": "WorkSpaceName",
						"type": "varchar"
					},
					{
						"name": "DatasetName",
						"type": "varchar"
					},
					{
						"name": "ReportName",
						"type": "varchar"
					},
					{
						"name": "CapacityId",
						"type": "varchar"
					},
					{
						"name": "CapacityName",
						"type": "varchar"
					},
					{
						"name": "WorkspaceId",
						"type": "varchar"
					},
					{
						"name": "ObjectId",
						"type": "varchar"
					},
					{
						"name": "DatasetId",
						"type": "varchar"
					},
					{
						"name": "ReportId",
						"type": "varchar"
					},
					{
						"name": "EmbedTokenId",
						"type": "varchar"
					},
					{
						"name": "ArtifactId",
						"type": "varchar"
					},
					{
						"name": "ArtifactName",
						"type": "varchar"
					},
					{
						"name": "IsSuccess",
						"type": "varchar"
					},
					{
						"name": "ReportType",
						"type": "varchar"
					},
					{
						"name": "RequestId",
						"type": "varchar"
					},
					{
						"name": "ActivityId",
						"type": "varchar"
					},
					{
						"name": "DistributionMethod",
						"type": "varchar"
					},
					{
						"name": "ConsumptionMethod",
						"type": "varchar"
					},
					{
						"name": "ArtifactKind",
						"type": "varchar"
					},
					{
						"name": "RefreshEnforcementPolicy",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "viewreports"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/getgroups_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getgroups')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['isReadOnly']"
										},
										"sink": {
											"name": "is_read_only",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['isOnDedicatedCapacity']"
										},
										"sink": {
											"name": "is_on_dedicated_capacity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['capacityMigrationStatus']"
										},
										"sink": {
											"name": "capacity_migration_status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['description']"
										},
										"sink": {
											"name": "description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state']"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hasWorkspaceLevelSettings ']"
										},
										"sink": {
											"name": "has_workspace_level_settings",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['value']"
							}
						},
						"inputs": [
							{
								"referenceName": "getgroups_api_ls",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "getgroups_sql_db",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-29T05:26:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/getgroups_api_ls')]",
				"[concat(variables('factoryId'), '/datasets/getgroups_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getreports')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "getgroups_sql_db",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "group_id",
													"value": {
														"value": "@item().id",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"id"
												]
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['reportType']"
													},
													"sink": {
														"name": "report_type",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['name']"
													},
													"sink": {
														"name": "name",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['webUrl']"
													},
													"sink": {
														"name": "web_url",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['embedUrl']"
													},
													"sink": {
														"name": "embed_url",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['datasetId']"
													},
													"sink": {
														"name": "dataset_id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['createdDateTime']"
													},
													"sink": {
														"name": "created_date_time",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['modifiedDateTime']"
													},
													"sink": {
														"name": "modified_date_time",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['modifiedBy']"
													},
													"sink": {
														"name": "modified_by",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['createdBy']"
													},
													"sink": {
														"name": "created_by",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['group_id']"
													},
													"sink": {
														"name": "group_id",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['value']"
										}
									},
									"inputs": [
										{
											"referenceName": "getreports_api_ds",
											"type": "DatasetReference",
											"parameters": {
												"id": {
													"value": "@item().id",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "getreports_sql_ds",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-29T06:27:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/getgroups_sql_db')]",
				"[concat(variables('factoryId'), '/datasets/getreports_api_ds')]",
				"[concat(variables('factoryId'), '/datasets/getreports_sql_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getusers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "getreports_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "report_id",
													"value": {
														"value": "@item().id",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"graph_id"
												]
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['reportUserAccessRight']"
													},
													"sink": {
														"name": "report_user_access_right",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['emailAddress']"
													},
													"sink": {
														"name": "email_address",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['displayName']"
													},
													"sink": {
														"name": "display_name",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['identifier']"
													},
													"sink": {
														"name": "identifier",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['graphId']"
													},
													"sink": {
														"name": "graph_id",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['principalType']"
													},
													"sink": {
														"name": "principal_type",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['userType']"
													},
													"sink": {
														"name": "user_type",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "$['report_id']"
													},
													"sink": {
														"name": "report_id",
														"type": "varchar"
													}
												}
											],
											"collectionReference": "$['value']"
										}
									},
									"inputs": [
										{
											"referenceName": "getusers_api_ds",
											"type": "DatasetReference",
											"parameters": {
												"report_id": {
													"value": "@item().id",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "getusers_sql_ds",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-29T06:27:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/getreports_sql_ds')]",
				"[concat(variables('factoryId'), '/datasets/getusers_api_ds')]",
				"[concat(variables('factoryId'), '/datasets/getusers_sql_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getusers_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "getreports_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "report_id",
													"value": {
														"value": "@item().id",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"graph_id"
												]
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['reportUserAccessRight']"
													},
													"sink": {
														"name": "report_user_access_right",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['emailAddress']"
													},
													"sink": {
														"name": "email_address",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['displayName']"
													},
													"sink": {
														"name": "display_name",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['identifier']"
													},
													"sink": {
														"name": "identifier",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['graphId']"
													},
													"sink": {
														"name": "graph_id",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['principalType']"
													},
													"sink": {
														"name": "principal_type",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "[['userType']"
													},
													"sink": {
														"name": "user_type",
														"type": "varchar"
													}
												},
												{
													"source": {
														"path": "$['report_id']"
													},
													"sink": {
														"name": "report_id",
														"type": "varchar"
													}
												}
											],
											"collectionReference": "$['value']"
										}
									},
									"inputs": [
										{
											"referenceName": "getusers_api_ds",
											"type": "DatasetReference",
											"parameters": {
												"report_id": {
													"value": "@item().id",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "getusersql_ds_1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-29T06:27:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/getreports_sql_ds')]",
				"[concat(variables('factoryId'), '/datasets/getusers_api_ds')]",
				"[concat(variables('factoryId'), '/datasets/getusersql_ds_1')]"
			]
		}
	]
}