pipeline/API_GenerateEmailNotification.json
{
	"name": "API_GenerateEmailNotification",
	"properties": {
		"activities": [
			{
				"name": "Get_TenantId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TenantId \nFROM [dbo].[DailyLoadTracker]\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Get_TenantId",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Passing TenantId",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_TenantId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_TenantId').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Running_MailNotificationAPI",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"X-API-Value": "01JQP5HKX7JVBKD5876E8DTPMS"
								},
								"url": "https://ubti-stage-powerpulse-api.azurewebsites.net/api/v1/Client/GenerateEmailNotification",
								"body": {
									"value": "{\n    \"TenantId\": \"@{item().TenantId}\",\n    \"ProductCode\": \"PowerPulse\"\n}\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "UAT_DailyScheduleChildPipelines"
		},
		"annotations": []
	}
}