pipeline/DatasetRefreshes.json
{
	"name": "DatasetRefreshes",
	"properties": {
		"activities": [
			{
				"name": "Get Datasets",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dataset_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DatasetID in Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Datasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Datasets').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Get DatasetRefreshes Details",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "WorkspaceID",
											"value": {
												"value": "@item().WorkspaceId",
												"type": "Expression"
											}
										},
										{
											"name": "DatasetID",
											"value": {
												"value": "@item().DatasetSourceKey",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['value'][0]['requestId']"
											},
											"sink": {
												"name": "RequestId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['value'][0]['id']"
											},
											"sink": {
												"name": "DatasetRefreshesSourceKey",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['value'][0]['refreshType']"
											},
											"sink": {
												"name": "RefreshType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['value'][0]['startTime']"
											},
											"sink": {
												"name": "StartTime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['value'][0]['endTime']"
											},
											"sink": {
												"name": "EndTime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['value'][0]['status']"
											},
											"sink": {
												"name": "Status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['WorkspaceID']"
											},
											"sink": {
												"name": "WorkSpaceID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['DatasetID']"
											},
											"sink": {
												"name": "DatasetID",
												"type": "String"
											}
										}
									],
									"collectionReference": "",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "DatasetRefreshes_API",
									"type": "DatasetReference",
									"parameters": {
										"WorkSpaceID": {
											"value": "@item().WorkspaceId",
											"type": "Expression"
										},
										"DatasetID": {
											"value": "@item().DatasetSourceKey",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DatasetRefreshes_SQL",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"BatchNo": {
				"type": "string"
			}
		},
		"annotations": []
	}
}