pipeline/DatasetRefreshes.json
{
	"name": "DatasetRefreshes",
	"properties": {
		"activities": [
			{
				"name": "Get Datasets",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select DatasetSourceKey,WorkspaceId from [dbo].[Datasets_batch] where BatchNo=',pipeline().parameters.BatchNo)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dataset_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DatasetID in Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Datasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Datasets').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Get DatasetRefreshes Details",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "WorkspaceID",
											"value": {
												"value": "@item().WorkspaceId",
												"type": "Expression"
											}
										},
										{
											"name": "DatasetID",
											"value": {
												"value": "@item().DatasetSourceKey",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['value'][0]['requestId']"
											},
											"sink": {
												"name": "RequestId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['value'][0]['id']"
											},
											"sink": {
												"name": "DatasetRefreshesSourceKey",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['value'][0]['refreshType']"
											},
											"sink": {
												"name": "RefreshType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['value'][0]['startTime']"
											},
											"sink": {
												"name": "StartTime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['value'][0]['endTime']"
											},
											"sink": {
												"name": "EndTime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['value'][0]['status']"
											},
											"sink": {
												"name": "Status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['WorkspaceID']"
											},
											"sink": {
												"name": "WorkSpaceID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['DatasetID']"
											},
											"sink": {
												"name": "DatasetID",
												"type": "String"
											}
										}
									],
									"collectionReference": "",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "DatasetRefreshes_API",
									"type": "DatasetReference",
									"parameters": {
										"WorkSpaceID": {
											"value": "@item().WorkspaceId",
											"type": "Expression"
										},
										"DatasetID": {
											"value": "@item().DatasetSourceKey",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DatasetRefreshes_SQL",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Sp_TrackProcessSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Datasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": "NA",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@activity('Get Datasets').Status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"TenantID": {
							"value": {
								"value": "@pipeline().parameters.TenantID",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_TrackProcessFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Datasets",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Get Datasets').error?.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@activity('Get Datasets').Status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"BatchNo": {
				"type": "string"
			},
			"TenantID": {
				"type": "String",
				"defaultValue": "008502d6-3f79-46f0-ab37-9354e3fe80ff"
			}
		},
		"variables": {
			"DatasetsRefreshes_status": {
				"type": "String"
			},
			"DatasetsRefreshes_StartTime": {
				"type": "String"
			},
			"DatasetsRefreshes_EndTime": {
				"type": "String"
			},
			"DatasetsRefreshes_IST": {
				"type": "String"
			},
			"DatasetsRefreshes_IST2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UBTI_Dev"
		},
		"annotations": []
	}
}