pipeline/DataFlowRefreshes.json
{
	"name": "getdataflow_refresh",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "getdataflow_sql_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "groupid",
											"value": {
												"value": "@item().workspaceId",
												"type": "Expression"
											}
										},
										{
											"name": "dataflowid",
											"value": {
												"value": "@item().objectid",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['refreshType']"
											},
											"sink": {
												"name": "refreshType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['startTime']"
											},
											"sink": {
												"name": "startTime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['endTime']"
											},
											"sink": {
												"name": "endTime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['status']"
											},
											"sink": {
												"name": "status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['groupid']"
											},
											"sink": {
												"name": "workspace_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['dataflowid']"
											},
											"sink": {
												"name": "dataflow_id",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['value']"
								}
							},
							"inputs": [
								{
									"referenceName": "getdataflow_refreshes_api_ds",
									"type": "DatasetReference",
									"parameters": {
										"groupid": {
											"value": "@item().workspaceId",
											"type": "Expression"
										},
										"dataflowid": {
											"value": "@item().objectid",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "getdataflow_refreshes_sql_ds",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}