pipeline/DatasetUsers_Batch.json
{
	"name": "DatasetUsers_Batch",
	"properties": {
		"activities": [
			{
				"name": "Get Dataset Batches",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute ChildPipelineLogs",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT BatchNo \nFROM [dbo].[Dataset_batch] \nORDER BY 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dataset_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Batch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Truncate Dataset Users",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Dataset Batches').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline DatasetUsers",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DatasetUsers",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"AppTenantId": {
										"value": "@pipeline().parameters.AppTenantId",
										"type": "Expression"
									},
									"AppClientId": {
										"value": "@pipeline().parameters.AppClientId",
										"type": "Expression"
									},
									"AppClientCode": {
										"value": "@pipeline().parameters.AppClientCode",
										"type": "Expression"
									},
									"TenantId": {
										"value": "@pipeline().parameters.AppTenantId",
										"type": "Expression"
									},
									"BatchNo": {
										"value": "@item().BatchNo",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Truncate Dataset Users",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Get Dataset Batches",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "getgroups_sql_ls",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE [dbo].[DatasetUsers];"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "DatasetUsers History",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "For Each Batch",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DatasetUserSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetUserSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Identifier",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Identifier",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetUserAccessRight",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetUserAccessRight",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PrincipalType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PrincipalType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DatasetUsers_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DatasetUserHistory_sql",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CapturingUsers Dataset Batches Status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Dataset Batches",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Datasets Batches Status",
					"value": {
						"value": "@activity('Get Dataset Batches').Status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Capturing DatasetsUsers Status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DatasetUsers History",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DatasetUsers History Status",
					"value": {
						"value": "@activity('DatasetUsers History').Status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute ChildPipelineLogs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat (\n    'EXEC [dbo].[sp_ChildPipelineLog_Insert] ',\n    '''', 'Started', '''', ',',\n    '''', pipeline().Pipeline, '''', ',',\n    '''', pipeline().RunId, '''', ',',\n    '''', convertTimeZone(utcnow(),'UTC','India Standard Time'), '''', ',',\n    '''', '', '''', ',',\n    '''', pipeline().TriggerName, '''', ',',\n    '''', pipeline().TriggerType, '''', ',',\n    '''', pipeline().TriggerTime, '''', ',',\n    '''', ' ', '''', ',',\n    '''', pipeline().parameters.TenantId, '''', ',',\n    '''', ' ', '''', ',',\n    '''', ' ', ''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Execute_ChildPipelineLogs",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Sp_TrackProcessSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Capturing DatasetsUsers Status",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "DatasetUsers History",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "CapturingUsers Dataset Batches Status",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_ChildPipelineLog_Update]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"LogTrackerID": {
							"value": {
								"value": "@activity('Execute ChildPipelineLogs').output.firstRow.LogTrackerID",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "@if(and(and(and(and(\nequals(variables('Get Datasets Status'),'Succeeded'),\nequals(variables('DatasetUser Staging Status'),'Succeeded')),\nequals(variables('DatasetUser Live Status'),'Succeeded')),\nequals(variables('Datasets Batches Status'),'Succeeded')),\nequals(variables('DatasetUsers History Status'),'Succeeded')),\n'Succeeded','Failed')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"AppTenantId": {
				"type": "string"
			},
			"AppClientId": {
				"type": "string"
			},
			"AppClientCode": {
				"type": "string"
			},
			"TenantId": {
				"type": "string"
			}
		},
		"variables": {
			"CountWorkspace": {
				"type": "Integer"
			},
			"Datasets Batches Status": {
				"type": "String"
			},
			"DatasetUsers History Status": {
				"type": "String"
			},
			"Get Datasets Status": {
				"type": "String"
			},
			"Dataset staging Status": {
				"type": "String"
			},
			"Dataset Live Status": {
				"type": "String"
			},
			"Dataset History Status": {
				"type": "String"
			},
			"Get DatasetRefreshes Status": {
				"type": "String"
			},
			"Get DatasetsRefreshes Batch Status": {
				"type": "String"
			},
			"DatasetRefreshes History Status": {
				"type": "String"
			},
			"Dataflows Staging Status": {
				"type": "String"
			},
			"Dataflows Live Status": {
				"type": "String"
			},
			"Dataflows History Status": {
				"type": "String"
			},
			"DataflowRefreshes Status": {
				"type": "String"
			},
			"Get Dataflowsrefreshes Status": {
				"type": "String"
			},
			"Get Dataflowsrefreshes Batch": {
				"type": "String"
			},
			"DataflowRefreshes History Status": {
				"type": "String"
			},
			"Master Workspaces Status": {
				"type": "String"
			},
			"Master WorkSpaceUsers Status": {
				"type": "String"
			},
			"Master Report status": {
				"type": "String"
			},
			"Master ReportPages Status": {
				"type": "String"
			},
			"Master Datasets Status": {
				"type": "String"
			},
			"Master Datasetfreshes status": {
				"type": "String"
			},
			"Master Datasetusers Status": {
				"type": "String"
			},
			"Master Viewreports Status": {
				"type": "String"
			},
			"Master Dataflows Status": {
				"type": "String"
			},
			"Master DataflowRefreshes Status": {
				"type": "String"
			},
			"DatasetUser Staging Status": {
				"type": "String"
			},
			"DatasetUser Live Status": {
				"type": "String"
			},
			"Get DatasetRefreshes_ Status": {
				"type": "String"
			},
			"Get DatasetRefreshe Status": {
				"type": "String"
			},
			"Get DatasetsRefreshes Status": {
				"type": "String"
			},
			"DataflowRefreshesLive Status": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UBTI_Dev"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T06:27:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}