pipeline/DatasetUsers_Demo_Batch.json
{
	"name": "DatasetUsers_Demo_Batch",
	"properties": {
		"activities": [
			{
				"name": "Get Dataset Batches",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT BatchNo \r\nFROM [dbo].[Dataset_batch] \r\nORDER BY 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DatasetUsers_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Batch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Truncate Dataset Users",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Dataset Batches').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If not max batch",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Execute Pipeline DatasetUsers",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@less(item().BatchNo,activity('Get Dataset Batches').output.count)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Wait 1 min",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 30
										}
									}
								]
							}
						},
						{
							"name": "Execute Pipeline DatasetUsers",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DatasetUsers_Demo",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BatchNo": {
										"value": "@item().BatchNo",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Truncate Dataset Users",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Get Dataset Batches",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "getgroups_sql_ls",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE [dbo].[DatasetUsers];"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"CountWorkspace": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T06:27:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}