pipeline/Demo.json
{
	"name": "Demo",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select WorkSpaceSourceKey from dbo.Workspaces\nWhere TenantId = '99' \n           and WorkspaceType = 'Workspace'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CaptureCI",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "DS_WorkSpaces",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DS_WorkSpaces",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@{concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.WorkspaceID_,'/users')}",
									"type": "Expression"
								},
								"body": {
									"value": "{\n            \"identifier\": \"6077f1b3-2daf-4b4f-9dc7-f6126cf209be\",\n            \"groupUserAccessRight\": \"Admin\",\n            \"principalType\": \"groups\"\n        }",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"WorkspaceID_": {
				"type": "string"
			}
		},
		"annotations": []
	}
}