pipeline/DS_Datasets.json
{
	"name": "DS_Datasets",
	"properties": {
		"activities": [
			{
				"name": "Dataset Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Execute ChildPipelineLog",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "TenantId",
								"value": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Truncate Table [dbo].Datasets_Staging;",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "DatasetSourceKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "DatasetName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['webUrl']"
								},
								"sink": {
									"name": "DatasetWebUrl",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['addRowsAPIEnabled']"
								},
								"sink": {
									"name": "AddRowsAPIEnabled",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['configuredBy']"
								},
								"sink": {
									"name": "ConfiguredBy",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['isRefreshable']"
								},
								"sink": {
									"name": "IsRefreshable",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['isEffectiveIdentityRequired']"
								},
								"sink": {
									"name": "IsEffectiveIdentityRequired",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['isEffectiveIdentityRolesRequired']"
								},
								"sink": {
									"name": "IsEffectiveIdentityRolesRequired",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['targetStorageMode']"
								},
								"sink": {
									"name": "TargetStorageMode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['createdDate']"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['contentProviderType']"
								},
								"sink": {
									"name": "ContentProviderType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['createReportEmbedURL']"
								},
								"sink": {
									"name": "CreateReportEmbedURL",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['qnaEmbedURL']"
								},
								"sink": {
									"name": "QNAEmbedURL",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['isInPlaceSharingEnabled']"
								},
								"sink": {
									"name": "IsInPlaceSharingEnabled",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['workspaceId']"
								},
								"sink": {
									"name": "WorkspaceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['queryScaleOutSettings']['autoSyncReadOnlyReplicas']"
								},
								"sink": {
									"name": "AutoSyncReadOnlyReplicas",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['queryScaleOutSettings']['maxReadOnlyReplicas']"
								},
								"sink": {
									"name": "MaxReadOnlyReplicas",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TenantId']"
								},
								"sink": {
									"name": "TenantId",
									"type": "Int32"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "Dataset_API",
						"type": "DatasetReference",
						"parameters": {
							"AppTenantId": {
								"value": "@pipeline().parameters.AppTenantId",
								"type": "Expression"
							},
							"AppClientId": {
								"value": "@pipeline().parameters.AppClientId",
								"type": "Expression"
							},
							"AppClientCode": {
								"value": "@pipeline().parameters.AppClientCode",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Dataset_SQL_Staging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Dataset Live Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Dataset Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"DatasetSourceKey"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DatasetSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkspaceId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkspaceId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetWebUrl",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetWebUrl",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AddRowsAPIEnabled",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "AddRowsAPIEnabled",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ConfiguredBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ConfiguredBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsRefreshable",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsRefreshable",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "IsEffectiveIdentityRequired",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsEffectiveIdentityRequired",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "IsEffectiveIdentityRolesRequired",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsEffectiveIdentityRolesRequired",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "TargetStorageMode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TargetStorageMode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ContentProviderType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ContentProviderType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreateReportEmbedURL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreateReportEmbedURL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "QNAEmbedURL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "QNAEmbedURL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsInPlaceSharingEnabled",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsInPlaceSharingEnabled",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "AutoSyncReadOnlyReplicas",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AutoSyncReadOnlyReplicas",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MaxReadOnlyReplicas",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MaxReadOnlyReplicas",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Dataset_SQL_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Dataset_SQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Dataset History",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Dataset Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DatasetSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkspaceId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkspaceId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetWebUrl",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetWebUrl",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AddRowsAPIEnabled",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "AddRowsAPIEnabled",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ConfiguredBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ConfiguredBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsRefreshable",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsRefreshable",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "IsEffectiveIdentityRequired",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsEffectiveIdentityRequired",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "IsEffectiveIdentityRolesRequired",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsEffectiveIdentityRolesRequired",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "TargetStorageMode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TargetStorageMode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ContentProviderType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ContentProviderType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreateReportEmbedURL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreateReportEmbedURL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "QNAEmbedURL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "QNAEmbedURL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsInPlaceSharingEnabled",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsInPlaceSharingEnabled",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "AutoSyncReadOnlyReplicas",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AutoSyncReadOnlyReplicas",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MaxReadOnlyReplicas",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MaxReadOnlyReplicas",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Dataset_SQL_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Dataset_SQL_History",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Sp_TrackProcessSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Capturing Dataset Staging Status",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Dataset History",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Capturing DatasetLive status",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Capturing Dataset History Status",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_ChildPipelineLog_Update]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"LogTrackerID": {
							"value": {
								"value": "@activity('Execute ChildPipelineLog').output.firstRow.LogTrackerID",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "@if(and(and(\nequals(variables('Dataset staging Status'),'Succeeded'),\nequals(variables('Dataset Live Status'),'Succeeded')),\nequals(variables('Dataset History Status'),'Succeeded')),\n    'Succeeded','Failed')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_TrackProcessFailure",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": null,
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataLoadTrackerID": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Capturing Dataset Staging Status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Dataset Staging",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Dataset staging Status",
					"value": {
						"value": "@activity('Dataset Staging').Status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Capturing DatasetLive status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Dataset Live Data",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Dataset Live Status",
					"value": {
						"value": "@activity('Dataset Live Data').Status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Capturing Dataset History Status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Dataset History",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Dataset History Status",
					"value": {
						"value": "@activity('Dataset History').Status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute ChildPipelineLog",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat (\n    'EXEC [dbo].[sp_ChildPipelineLog_Insert] ',\n    '''', 'Started', '''', ',',\n    '''', pipeline().Pipeline, '''', ',',\n    '''', pipeline().RunId, '''', ',',\n    '''', convertTimeZone(utcnow(),'UTC','India Standard Time'), '''', ',',\n    '''', '', '''', ',',\n    '''', pipeline().TriggerName, '''', ',',\n    '''', pipeline().TriggerType, '''', ',',\n    '''', pipeline().TriggerTime, '''', ',',\n    '''', ' ', '''', ',',\n    '''', pipeline().parameters.TenantId, '''', ',',\n    '''', ' ', '''', ',',\n    '''', ' ', ''''\n)\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Execute_ChildPipelineLogs",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"AppTenantId": {
				"type": "string"
			},
			"AppClientId": {
				"type": "string"
			},
			"AppClientCode": {
				"type": "string"
			},
			"TenantId": {
				"type": "int"
			}
		},
		"variables": {
			"Datasets_status": {
				"type": "String"
			},
			"Datasets_startTime": {
				"type": "String"
			},
			"Datasets_EndTime": {
				"type": "String"
			},
			"Datasets_IST": {
				"type": "String"
			},
			"Datasets_IST2": {
				"type": "String"
			},
			"Dataset staging Status": {
				"type": "String"
			},
			"Dataset Live Status": {
				"type": "String"
			},
			"Dataset History Status": {
				"type": "String"
			},
			"Get DatasetRefreshes Status": {
				"type": "String"
			},
			"Get DatasetsRefreshes Batch Status": {
				"type": "String"
			},
			"DatasetRefreshes History Status": {
				"type": "String"
			},
			"Dataflows Staging Status": {
				"type": "String"
			},
			"Dataflows Live Status": {
				"type": "String"
			},
			"Dataflows History Status": {
				"type": "String"
			},
			"Get Dataflowsrefreshes Status": {
				"type": "String"
			},
			"Get Dataflowsrefreshes Batch": {
				"type": "String"
			},
			"DataflowRefreshes History Status": {
				"type": "String"
			},
			"Master Workspaces Status": {
				"type": "String"
			},
			"Master WorkSpaceUsers Status": {
				"type": "String"
			},
			"Master Report status": {
				"type": "String"
			},
			"Master ReportPages Status": {
				"type": "String"
			},
			"Master Datasets Status": {
				"type": "String"
			},
			"Master Datasetfreshes status": {
				"type": "String"
			},
			"Master Datasetusers Status": {
				"type": "String"
			},
			"Master Viewreports Status": {
				"type": "String"
			},
			"Master Dataflows Status": {
				"type": "String"
			},
			"Master DataflowRefreshes Status": {
				"type": "String"
			},
			"Get DatasetRefreshes_ Status": {
				"type": "String"
			},
			"Get DatasetRefreshe Status": {
				"type": "String"
			},
			"Get DatasetsRefreshes Status": {
				"type": "String"
			},
			"DataflowRefreshesLive Status": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DailyScheduleChildPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T05:26:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}