pipeline/DS_WorkSpacesUsers.json
{
	"name": "DS_WorkSpacesUsers",
	"properties": {
		"activities": [
			{
				"name": "Get WorkSpaces",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT WorkSpaceSourceKey FROM [dbo].[Workspaces_batch] \nWHERE BatchNo = ', string(pipeline().parameters.BatchNo), \n' AND TenantId = ', string(pipeline().parameters.TenantId))",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WorkSpaces_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "WorkSpace ID in Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get WorkSpaces",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get WorkSpaces').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Get WorkSpace Users_Staging",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "WorkSpaceID",
											"value": {
												"value": "@item().WorkSpaceSourceKey",
												"type": "Expression"
											}
										},
										{
											"name": "TenantId",
											"value": {
												"value": "@pipeline().parameters.TenantId",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"dataIntegrationUnits": 4,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['emailAddress']"
											},
											"sink": {
												"name": "EmailAddress",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['groupUserAccessRight']"
											},
											"sink": {
												"name": "GroupUserAccessRight",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['displayName']"
											},
											"sink": {
												"name": "UserName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['identifier']"
											},
											"sink": {
												"name": "Identifier",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['principalType']"
											},
											"sink": {
												"name": "PrincipalType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['graphId']"
											},
											"sink": {
												"name": "WorkSpaceUserSourceKey",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['userType']"
											},
											"sink": {
												"name": "UserType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['WorkSpaceID']"
											},
											"sink": {
												"name": "WorkSpaceID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['TenantId']"
											},
											"sink": {
												"name": "TenantId",
												"type": "Int32"
											}
										}
									],
									"collectionReference": "$['value']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "WorkSpaceUsers_Staging_API",
									"type": "DatasetReference",
									"parameters": {
										"WorkspaceID": {
											"value": "@item().WorkSpaceSourceKey",
											"type": "Expression"
										},
										"AppTenantId": {
											"value": "@pipeline().parameters.AppTenantId",
											"type": "Expression"
										},
										"AppClientId": {
											"value": "@pipeline().parameters.AppClientId",
											"type": "Expression"
										},
										"AppClientCode": {
											"value": "@pipeline().parameters.AppClientCode",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "WorkSpaceUsers_SQL",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Capturing Status in WorkSpace Users Staging",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get WorkSpace Users_Staging",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "WorkspaceUsers Staging Staus",
										"value": {
											"type": "Expression",
											"content": "@activity('Get WorkSpace Users_Staging').Status"
										}
									}
								],
								"setSystemVariable": true
							}
						},
						{
							"name": "Capturing WorkspaceUsers ED",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Get WorkSpace Users_Staging",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Sp_WorkSpaceUsersED]",
								"storedProcedureParameters": {
									"AppClientId": {
										"value": {
											"value": "@pipeline().parameters.AppClientId",
											"type": "Expression"
										},
										"type": "String"
									},
									"AppClientSecret": {
										"value": {
											"value": "@pipeline().parameters.AppClientCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"AppTentantId": {
										"value": {
											"value": "@pipeline().parameters.AppTenantId",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataLoadTrackerId": {
										"value": "",
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('Get WorkSpace Users_Staging').error?.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessEndTime": {
										"value": {
											"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ProcessStartTime": {
										"value": {
											"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Status": {
										"value": {
											"value": "@activity('Get WorkSpace Users_Staging').Status",
											"type": "Expression"
										},
										"type": "String"
									},
									"TenantId": {
										"value": {
											"value": "@pipeline().parameters.TenantId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"WorkSpaceID": {
										"value": {
											"value": "@item().WorkSpaceSourceKey",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Capturing WorkSpaceUsers ED",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Sp_TrackProcessSuccess",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_ChildPipelineLog_Update]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"LogTrackerID": {
							"value": "",
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "@if(and(and(and(and(\nequals(variables('Get Workspaces Status'),'Succeeded'),\nequals(variables('WorkspaceUsers Staging Staus'),'Succeeded')),\nequals(variables('WorkSpaceUserLive Status'),'Succeeded')),\nequals(variables('WorkSpaces Batch'),'Succeeded')),\nequals(variables('WorkSpacesUsers History Status'),'Succeeded')),\n'Succeeded','Failed')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_TrackProcessFailure",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')\n",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": null,
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Capturing Status for Get WorkSpaces",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get WorkSpaces",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "Get Workspaces Status",
							"value": {
								"type": "Expression",
								"content": "@activity('Get WorkSpaces').Status"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Get WorkSpaceUsers_Live",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WorkSpace ID in Loop",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"WorkSpaceUserSourceKey",
								"TenantId"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "WorkSpaceUserSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceUserSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Identifier",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Identifier",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GroupUserAccessRight",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GroupUserAccessRight",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PrincipalType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PrincipalType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "LS_SQL_WorkspacesUsers_Live",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "WorkSpacesUsers_Live_SQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Capturing Status in WorkSpaceUsers Live",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get WorkSpaceUsers_Live",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "WorkSpaceUserLive Status",
							"value": {
								"type": "Expression",
								"content": "@activity('Get WorkSpaceUsers_Live').Status"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"AppTenantId": {
				"type": "string"
			},
			"AppClientId": {
				"type": "string"
			},
			"AppClientCode": {
				"type": "string"
			},
			"TenantId": {
				"type": "int"
			},
			"BatchNo": {
				"type": "string",
				"defaultValue": "@item().BatchNo"
			}
		},
		"variables": {
			"WorkSpaceUsers_Status": {
				"type": "String"
			},
			"WorkSpaceUsers_StartTime": {
				"type": "String"
			},
			"WorkSpaceUsers_EndTime": {
				"type": "String"
			},
			"WorkSpacesUsers_IST": {
				"type": "String"
			},
			"WorkSpacesUsers_IST2": {
				"type": "String"
			},
			"Reports_Staging_Status": {
				"type": "String"
			},
			"Reports Staging_StartTime": {
				"type": "String"
			},
			"Reports Staging_Execution EndTime": {
				"type": "String"
			},
			"Reports Staging_IST2": {
				"type": "String"
			},
			"Reports Staging_IST": {
				"type": "String"
			},
			"ReportPages_Status": {
				"type": "String"
			},
			"ReportPages_StartTime": {
				"type": "String"
			},
			"ReportPages_IST": {
				"type": "String"
			},
			"ReportPages_IST2": {
				"type": "String"
			},
			"ReportPages_EndTime": {
				"type": "String"
			},
			"RefreshSchedules_Status": {
				"type": "String"
			},
			"RefreshSchedules": {
				"type": "String"
			},
			"RefreshSchedules_EndTime": {
				"type": "String"
			},
			"RefreshSchedules_IST": {
				"type": "String"
			},
			"RefreshSchedules_IST2": {
				"type": "String"
			},
			"ReportUsers_Status": {
				"type": "String"
			},
			"ReportUsers_StartTime": {
				"type": "String"
			},
			"ReportUsers_EndTime": {
				"type": "String"
			},
			"ReportUsers_IST": {
				"type": "String"
			},
			"ReportUsers_IST2": {
				"type": "String"
			},
			"Datasources_Status": {
				"type": "String"
			},
			"Datasources_StartTime": {
				"type": "String"
			},
			"Datasources_EndTime": {
				"type": "String"
			},
			"Datasources_IST": {
				"type": "String"
			},
			"Datasources_IST2": {
				"type": "String"
			},
			"DatasetUsers_Status": {
				"type": "String"
			},
			"DatasetUsers_StartTime": {
				"type": "String"
			},
			"DatasetUsers_EndTime": {
				"type": "String"
			},
			"DatasetUsers_IST": {
				"type": "String"
			},
			"DatasetUsers_IST2": {
				"type": "String"
			},
			"Datasets_status": {
				"type": "String"
			},
			"Datasets_startTime": {
				"type": "String"
			},
			"Datasets_EndTime": {
				"type": "String"
			},
			"Datasets_IST": {
				"type": "String"
			},
			"Datasets_IST2": {
				"type": "String"
			},
			"DatasetsRefreshes_status": {
				"type": "String"
			},
			"DatasetsRefreshes_StartTime": {
				"type": "String"
			},
			"DatasetsRefreshes_EndTime": {
				"type": "String"
			},
			"DatasetsRefreshes_IST": {
				"type": "String"
			},
			"DatasetsRefreshes_IST2": {
				"type": "String"
			},
			"DataFlows_Status": {
				"type": "String"
			},
			"DataFlows_StartTime": {
				"type": "String"
			},
			"DataFlows_EndTime": {
				"type": "String"
			},
			"DataFlows_IST": {
				"type": "String"
			},
			"DataFlows_IST2": {
				"type": "String"
			},
			"DataFlowRefreshes_Status": {
				"type": "String"
			},
			"DataFlowRefreshes_StartTime": {
				"type": "String"
			},
			"DataFlowRefreshes_EndTime": {
				"type": "String"
			},
			"DataFlowRefreshes_IST": {
				"type": "String"
			},
			"DataFlowRefreshes_IST2": {
				"type": "String"
			},
			"ViewReports_Status": {
				"type": "String"
			},
			"ViewReports_StartTime": {
				"type": "String"
			},
			"ViewReports_EndTime": {
				"type": "String"
			},
			"ViewReports_IST": {
				"type": "String"
			},
			"ViewReports_IST2": {
				"type": "String"
			},
			"WorkspaceUsers Staging Staus": {
				"type": "String"
			},
			"WorkSpaceUserLive Status": {
				"type": "String"
			},
			"Get Workspaces Status": {
				"type": "String"
			},
			"WorkSpaces Batch": {
				"type": "String"
			},
			"WorkSpacesUsers History Status": {
				"type": "String"
			},
			"Get WorkSpaces Batch Status": {
				"type": "String"
			},
			"ViewReportStaging Status": {
				"type": "String"
			},
			"ViewReport Live Status": {
				"type": "String"
			},
			"ViewReport History Status": {
				"type": "String"
			},
			"Reports Staging Status": {
				"type": "String"
			},
			"Report History Status": {
				"type": "String"
			},
			"Report Live Status": {
				"type": "String"
			},
			"ReportPages Staging Status": {
				"type": "String"
			},
			"Get ReportPages Status": {
				"type": "String"
			},
			"ReportPages Batch Status": {
				"type": "String"
			},
			"ReportPages History Status": {
				"type": "String"
			},
			"DatasetUsers Staging Status": {
				"type": "String"
			},
			"DatasetUsers Live Status": {
				"type": "String"
			},
			"Datasets Batches Status": {
				"type": "String"
			},
			"DatasetUsers History Status": {
				"type": "String"
			},
			"Get Datasets Status": {
				"type": "String"
			},
			"Dataset staging Status": {
				"type": "String"
			},
			"Dataset Live Status": {
				"type": "String"
			},
			"Dataset History Status": {
				"type": "String"
			},
			"Get DatasetRefreshes Status": {
				"type": "String"
			},
			"Get DatasetsRefreshes Batch Status": {
				"type": "String"
			},
			"DatasetRefreshes History Status": {
				"type": "String"
			},
			"Dataflows Staging Status": {
				"type": "String"
			},
			"Dataflows Live Status": {
				"type": "String"
			},
			"Dataflows History Status": {
				"type": "String"
			},
			"Get Dataflowsrefreshes Status": {
				"type": "String"
			},
			"Get Dataflowsrefreshes Batch": {
				"type": "String"
			},
			"DataflowRefreshes History Status": {
				"type": "String"
			},
			"Master Workspaces Status": {
				"type": "String"
			},
			"Master WorkSpaceUsers Status": {
				"type": "String"
			},
			"Master Report status": {
				"type": "String"
			},
			"Master ReportPages Status": {
				"type": "String"
			},
			"Master Datasets Status": {
				"type": "String"
			},
			"Master Datasetfreshes status": {
				"type": "String"
			},
			"Master Datasetusers Status": {
				"type": "String"
			},
			"Master Viewreports Status": {
				"type": "String"
			},
			"Master Dataflows Status": {
				"type": "String"
			},
			"Master DataflowRefreshes Status": {
				"type": "String"
			},
			"Get ReportPage Status": {
				"type": "String"
			},
			"ReportPage Staging Status": {
				"type": "String"
			},
			"DatasetUser Staging Status": {
				"type": "String"
			},
			"DatasetUser Live Status": {
				"type": "String"
			},
			"Get DatasetRefreshes_ Status": {
				"type": "String"
			},
			"Get DatasetRefreshe Status": {
				"type": "String"
			},
			"Get DatasetsRefreshes Status": {
				"type": "String"
			},
			"DataflowRefreshesLive Status": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DailyScheduleChildPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T06:27:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}