pipeline/DS_WorkSpaces_UAT.json
{
	"name": "DS_WorkSpaces_UAT",
	"properties": {
		"activities": [
			{
				"name": "WorkSpace Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Execute_ChildLogs",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "TenantId",
								"value": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('DELETE [dbo].[WorkSpaces] where TenantId = ', string(pipeline().parameters.TenantId))}",
							"type": "Expression"
						},
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"WorkSpaceSourceKey"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "WorkSpaceSourceKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['isReadOnly']"
								},
								"sink": {
									"name": "IsReadOnly",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['isOnDedicatedCapacity']"
								},
								"sink": {
									"name": "IsonDedicatedCapacity",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['capacityMigrationStatus']"
								},
								"sink": {
									"name": "CapacityMigrationStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['description']"
								},
								"sink": {
									"name": "WorkSpaceDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "WorkSpaceType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['hasWorkspaceLevelSettings ']"
								},
								"sink": {
									"name": "HasWorkspaceLevelSetting",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "WorkSpaceName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TenantId']"
								},
								"sink": {
									"name": "TenantId",
									"type": "Int32"
								}
							}
						],
						"collectionReference": "$['value']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "WorkSpaces_API",
						"type": "DatasetReference",
						"parameters": {
							"AppTenantId": {
								"value": "@pipeline().parameters.AppTenantId",
								"type": "Expression"
							},
							"AppClientId": {
								"value": "@pipeline().parameters.AppClientId",
								"type": "Expression"
							},
							"AppClientCode": {
								"value": "@pipeline().parameters.AppClientCode",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "WorkSpacesStaging_Sql_UAT",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "WorkSpace Live Data",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"WorkSpaceSourceKey"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "WorkSpaceSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceDescription",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsonDedicatedCapacity",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsonDedicatedCapacity",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CapacityMigrationStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CapacityMigrationStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsReadOnly",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsReadOnly",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "HasWorkspaceLevelSetting",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "HasWorkspaceLevelSetting",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "WorkSpacesStaging_Sql_UAT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "WorkSpaceLive_Sql_UAT",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "WorkSpace History",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WorkSpace Staging",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"WorkSpaceSourceKey"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "WorkSpaceSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceDescription",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsonDedicatedCapacity",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsonDedicatedCapacity",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CapacityMigrationStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CapacityMigrationStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsReadOnly",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsReadOnly",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "HasWorkspaceLevelSetting",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "HasWorkspaceLevelSetting",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TenantId",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "WorkSpacesStaging_Sql_UAT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "WorkSpaceHistory_Sql_UAT",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sp_TrackProcessSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "WorkSpace Staging",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "WorkSpace History",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Capture the StartTime",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_ChildPipelineLog_Update]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"LogTrackerID": {
							"value": {
								"value": "@activity('Execute_ChildLogs').output.firstRow.LogTrackerID",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "@if(and(and(\nequals(variables('WorkspacesStaging Status'),'Succeeded'),\nequals(variables('WorkSpaceHistory Status'),'Succeeded')),\nequals(variables('WorkSpaceLive Status'),'Succeeded')),\n    'Succeeded','Failed')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Update_UATChildpipelineLogs",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_Childpipeline Tracker Insert",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_ChildPipelineLog_Insert]",
					"storedProcedureParameters": {
						"DataLoadTrackerId": {
							"value": "",
							"type": "String"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": "NA",
							"type": "String"
						},
						"LogTrackerId": {
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": "Started",
							"type": "String"
						},
						"TenantId": {
							"value": {
								"value": "@pipeline().parameters.TenantId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Capturing Status of WorkSpaceStaging",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WorkSpace Staging",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkspacesStaging Status",
					"value": {
						"value": "@activity('WorkSpace Staging').Status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Capturing Status of WorkSpaceLive",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute WorkspaceLive",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkSpaceLive Status",
					"value": {
						"value": "@activity('Execute WorkspaceLive').Status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Capturing Status of WorkSpaceHistory",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WorkSpace History",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkSpaceHistory Status",
					"value": {
						"value": "@activity('WorkSpace History').Status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Capture the StartTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WorkSpace Staging",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkSpaceStartTime",
					"value": {
						"value": "@activity('WorkSpace Staging').ExecutionStartTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Capture the WorkSpaceEndTime",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkSpacesEndTime",
					"value": {
						"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute_ChildLogs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat (\n    'EXEC [dbo].[sp_ChildPipelineLog_Insert] ',\n    '''', 'Started', '''', ',',\n    '''', pipeline().Pipeline, '''', ',',\n    '''', pipeline().RunId, '''', ',',\n    '''', convertTimeZone(utcnow(),'UTC','India Standard Time'), '''', ',',\n    '''', '', '''', ',',\n    '''', pipeline().TriggerName, '''', ',',\n    '''', pipeline().TriggerType, '''', ',',\n    '''', pipeline().TriggerTime, '''', ',',\n    '''', ' ', '''', ',',\n    '''', pipeline().parameters.TenantId, '''', ',',\n    '''', ' ', '''', ',',\n    '''', ' ', ''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Execute_UATChildpipelineLogs",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Execute WorkspaceLive",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "WorkSpace Staging",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Execute_WorkspaceLive_sql",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"concurrency": 2,
		"parameters": {
			"AppTenantId": {
				"type": "string"
			},
			"AppClientId": {
				"type": "string"
			},
			"AppClientCode": {
				"type": "string"
			},
			"TenantId": {
				"type": "int"
			}
		},
		"variables": {
			"WorkspacesStaging Status": {
				"type": "String"
			},
			"Workspaces_StartTime": {
				"type": "String"
			},
			"Workspaces_EndTime": {
				"type": "String"
			},
			"Workspaces_IST": {
				"type": "String"
			},
			"Workspaces_IST2": {
				"type": "String"
			},
			"WorkSpaceUsers_Status": {
				"type": "String"
			},
			"WorkSpaceUsers_StartTime": {
				"type": "String"
			},
			"WorkSpaceUsers_EndTime": {
				"type": "String"
			},
			"WorkSpacesUsers_IST": {
				"type": "String"
			},
			"WorkSpacesUsers_IST2": {
				"type": "String"
			},
			"Reports_Staging_Status": {
				"type": "String"
			},
			"Reports Staging_StartTime": {
				"type": "String"
			},
			"Reports Staging_Execution EndTime": {
				"type": "String"
			},
			"Reports Staging_IST2": {
				"type": "String"
			},
			"Reports Staging_IST": {
				"type": "String"
			},
			"ReportPages_Status": {
				"type": "String"
			},
			"ReportPages_StartTime": {
				"type": "String"
			},
			"ReportPages_IST": {
				"type": "String"
			},
			"ReportPages_IST2": {
				"type": "String"
			},
			"ReportPages_EndTime": {
				"type": "String"
			},
			"RefreshSchedules_Status": {
				"type": "String"
			},
			"RefreshSchedules": {
				"type": "String"
			},
			"RefreshSchedules_EndTime": {
				"type": "String"
			},
			"RefreshSchedules_IST": {
				"type": "String"
			},
			"RefreshSchedules_IST2": {
				"type": "String"
			},
			"ReportUsers_Status": {
				"type": "String"
			},
			"ReportUsers_StartTime": {
				"type": "String"
			},
			"ReportUsers_EndTime": {
				"type": "String"
			},
			"ReportUsers_IST": {
				"type": "String"
			},
			"ReportUsers_IST2": {
				"type": "String"
			},
			"Datasources_Status": {
				"type": "String"
			},
			"Datasources_StartTime": {
				"type": "String"
			},
			"Datasources_EndTime": {
				"type": "String"
			},
			"Datasources_IST": {
				"type": "String"
			},
			"Datasources_IST2": {
				"type": "String"
			},
			"DatasetUsers_Status": {
				"type": "String"
			},
			"DatasetUsers_StartTime": {
				"type": "String"
			},
			"DatasetUsers_EndTime": {
				"type": "String"
			},
			"DatasetUsers_IST": {
				"type": "String"
			},
			"DatasetUsers_IST2": {
				"type": "String"
			},
			"Datasets_status": {
				"type": "String"
			},
			"Datasets_startTime": {
				"type": "String"
			},
			"Datasets_EndTime": {
				"type": "String"
			},
			"Datasets_IST": {
				"type": "String"
			},
			"Datasets_IST2": {
				"type": "String"
			},
			"DatasetsRefreshes_status": {
				"type": "String"
			},
			"DatasetsRefreshes_StartTime": {
				"type": "String"
			},
			"DatasetsRefreshes_EndTime": {
				"type": "String"
			},
			"DatasetsRefreshes_IST": {
				"type": "String"
			},
			"DatasetsRefreshes_IST2": {
				"type": "String"
			},
			"DataFlows_Status": {
				"type": "String"
			},
			"DataFlows_StartTime": {
				"type": "String"
			},
			"DataFlows_EndTime": {
				"type": "String"
			},
			"DataFlows_IST": {
				"type": "String"
			},
			"DataFlows_IST2": {
				"type": "String"
			},
			"DataFlowRefreshes_Status": {
				"type": "String"
			},
			"DataFlowRefreshes_StartTime": {
				"type": "String"
			},
			"DataFlowRefreshes_EndTime": {
				"type": "String"
			},
			"DataFlowRefreshes_IST": {
				"type": "String"
			},
			"DataFlowRefreshes_IST2": {
				"type": "String"
			},
			"ViewReports_Status": {
				"type": "String"
			},
			"ViewReports_StartTime": {
				"type": "String"
			},
			"ViewReports_EndTime": {
				"type": "String"
			},
			"ViewReports_IST": {
				"type": "String"
			},
			"ViewReports_IST2": {
				"type": "String"
			},
			"PipelinesStatus": {
				"type": "String"
			},
			"PipelineStartTime": {
				"type": "String"
			},
			"PipelineEndTime": {
				"type": "String"
			},
			"InProgress Status": {
				"type": "String",
				"defaultValue": "InProgress"
			},
			"LID": {
				"type": "Integer"
			},
			"LogID": {
				"type": "Integer"
			},
			"WorkSpaceLive Status": {
				"type": "String"
			},
			"WorkSpaceHistory Status": {
				"type": "String"
			},
			"WorkSpaceStartTime": {
				"type": "String"
			},
			"WorkSpacesEndTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UAT_DailyScheduleChildPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T05:26:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}