pipeline/FirstTimeLoadMasterPipelineV1_0.json
{
	"name": "FirstTimeLoadMasterPipelineV1_0",
	"properties": {
		"activities": [
			{
				"name": "Workspaces_Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Capturing LogID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "WorkSpaces",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"AppTenantId": {
							"value": "@pipeline().parameters.AppTenantId",
							"type": "Expression"
						},
						"AppClientId": {
							"value": "@pipeline().parameters.AppClientId",
							"type": "Expression"
						},
						"AppClientCode": {
							"value": "@pipeline().parameters.AppClientCode",
							"type": "Expression"
						},
						"TenantId": {
							"value": "@pipeline().parameters.TenantId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Reports_Master",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Workspaces_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Reports",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false
				}
			},
			{
				"name": "ReportPages_Master",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Reports_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ReportPages_Batch_Tenant2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false
				}
			},
			{
				"name": "Datasets_Master",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Workspaces_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Datasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Datasetusers_Master",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Datasets_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DatasetUsers_Batch",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false
				}
			},
			{
				"name": "Dataflows_Master",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Workspaces_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DataFlows",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Datasetrefresh_Master",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Datasets_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DatasetRefreshes_Batch",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "DataflowRefreshes_Master",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Dataflows_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DataFlowRefreshes_Batch",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "sp_Dataloadtracker",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_StartPipelineExecution]",
					"storedProcedureParameters": {
						"AppClientId": {
							"value": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be",
							"type": "String"
						},
						"AppClientSecret": {
							"value": null,
							"type": "String"
						},
						"AppTentantId": {
							"value": "008502d6-3f79-46f0-ab37-9354e3fe80ff",
							"type": "String"
						},
						"CreatedDate": {
							"value": null,
							"type": "DateTime"
						},
						"CurrentStatus": {
							"value": "",
							"type": "String"
						},
						"IsFirstTimeLoad": {
							"value": "True",
							"type": "Boolean"
						},
						"ModifiedDate": {
							"value": null,
							"type": "DateTime"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessEndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ProcessStartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": "Started",
							"type": "String"
						},
						"TentantId": {
							"value": "1",
							"type": "Int32"
						},
						"TriggerType": {
							"value": "Manual",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Dataloadtracker_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Capturing LogID",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sp_Dataloadtracker",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stored procedure_UpdatePIpelineExecution",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ReportPages_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Datasetrefresh_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Datasetusers_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DataflowRefreshes_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_UpdatePipelineExecutionStatus]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"LogID": {
							"value": {
								"value": "@activity('Capturing LogID').output.count",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunningStatus": {
							"value": "True",
							"type": "Boolean"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ViewReports_Master",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Workspaces_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ViewReports",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "WorkspaceUsers__Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Workspaces_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "WorkSpacesUsers_Batch",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false
				}
			}
		],
		"parameters": {
			"AppTenantId": {
				"type": "string",
				"defaultValue": "9049e040-2bf1-47a2-ad39-e23869af08ff"
			},
			"AppClientId": {
				"type": "string",
				"defaultValue": "3a8df53a-9873-4e70-9d69-4725460c62b8"
			},
			"AppClientCode": {
				"type": "string"
			},
			"TenantId": {
				"type": "int",
				"defaultValue": 9
			}
		},
		"variables": {
			"InProgress Status": {
				"type": "String",
				"defaultValue": "InProgress"
			},
			"LogID": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Master Pipelines"
		},
		"annotations": []
	}
}