pipeline/FirstTimeLoadMasterPipelinesExecution.json
{
	"name": "FirstTimeLoadMasterPipelinesExecution",
	"properties": {
		"activities": [
			{
				"name": "Workspaces_Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Capturing LogID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "WorkSpaces",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"TenantId": {
							"value": "@pipeline().parameters.TenantId",
							"type": "Expression"
						},
						"ClientId": {
							"value": "@pipeline().parameters.ClientId",
							"type": "Expression"
						},
						"OrganisationId": {
							"value": "@pipeline().parameters.OrganisationId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Reports_Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Workspaces_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Reports",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false
				}
			},
			{
				"name": "ReportPages_Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Reports_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ReportPages_Batch",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false
				}
			},
			{
				"name": "Datasets_Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Workspaces_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Datasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Datasetusers_Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Datasets_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DatasetUsers_Batch",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false
				}
			},
			{
				"name": "Dataflows_Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Workspaces_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DataFlows",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Datasetrefresh_Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Datasets_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DatasetRefreshes_Batch",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "DataflowRefreshes_Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Dataflows_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DataFlowRefreshes_Batch",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Stored Precodure_startPipelineExecution",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_StartPipelineExecution]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunningStatus": {
							"value": "False",
							"type": "Boolean"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TenantId": {
							"value": {
								"value": "@pipeline().parameters.TenantId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Capturing LogID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored Precodure_startPipelineExecution",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stored procedure_UpdatePIpelineExecution",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ReportPages_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Datasetrefresh_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Datasetusers_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DataflowRefreshes_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_UpdatePipelineExecutionStatus]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"LogID": {
							"value": {
								"value": "@activity('Capturing LogID').output.count",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunningStatus": {
							"value": "True",
							"type": "Boolean"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ViewReports_Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Workspaces_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ViewReports",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "WorkspaceUsers__Master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Workspaces_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "WorkSpacesUsers_Batch",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false
				}
			}
		],
		"parameters": {
			"ClientId": {
				"type": "String",
				"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
			},
			"TenantId": {
				"type": "String",
				"defaultValue": "008502d6-3f79-46f0-ab37-9354e3fe80ff"
			},
			"AZSecretName": {
				"type": "String",
				"defaultValue": "UBTIClientSecretName"
			},
			"OrganisationId": {
				"type": "String",
				"defaultValue": "001"
			}
		},
		"variables": {
			"InProgress Status": {
				"type": "String",
				"defaultValue": "InProgress"
			},
			"LogID": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Master Pipelines"
		},
		"annotations": []
	}
}