pipeline/pipeline4_copy1.json
{
	"name": "pipeline4_copy1",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Testing').Status, 'Succeeded')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Sample",
								"value": {
									"value": "@activity('Execute Pipeline1').Status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Testing to wait",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"Testing": {
				"type": "String"
			},
			"Sample": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}