pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Execute_SP",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('EXEC [dbo].[DataLoadTrack_Insert] ','''',pipeline().parameters.AppTenantId,''',''',pipeline().parameters.AppClientId,''',''',pipeline().parameters.AppClientCode,''',''',pipeline().RunId,''',''',utcNow(),''','' '',','''Started'',','''Started'',','''True'',','''Application'',', '''',utcNow(),''',',''' '',','''',string(pipeline().parameters.TenantId),''',''False'','' ''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LS_ExecuteSP_UAT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP_Call_UpdateStatus",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[DataLoadTrack_Update]",
					"storedProcedureParameters": {
						"DataLoadTrackerID": {
							"value": {
								"value": "@activity('Execute_SP').output.firstRow.DataLoadTrackerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessEndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "Succeeded",
								"type": "Expression"
							},
							"type": "String"
						},
						"CurrentStatus": {
							"value": "Completed",
							"type": "String"
						},
						"DatasetrefreshesStatus": {
							"value": {
								"value": "Succeeded",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivedStatus": {
							"value": {
								"value": "Actived",
								"type": "Expression"
							}
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Dataloadtracker_Sql_UAT",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"AppClientId": {
				"type": "string"
			},
			"AppTenantId": {
				"type": "string"
			},
			"AppClientCode": {
				"type": "string"
			},
			"TenantId": {
				"type": "int"
			}
		},
		"annotations": []
	}
}