pipeline/pl_adf_orchestration.json
{
	"name": "pl_adf_orchestration",
	"properties": {
		"activities": [
			{
				"name": "Retrieve_Client_Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableDS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IterateClientValue",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Retrieve_Client_Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Retrieve_Client_Value').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "ExecutePipelineTestWorkspace",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Test_WorkspacesAPI",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ClientId": {
										"value": "@item().ClientId",
										"type": "Expression"
									},
									"TenantId": {
										"value": "@item().TenantId",
										"type": "Expression"
									},
									"AZSecretName": {
										"value": "@item().AZSecretName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"clientID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Testing pipelines"
		},
		"annotations": []
	}
}