pipeline/pl_adf_orchestration.json
{
	"name": "pl_adf_orchestration",
	"properties": {
		"activities": [
			{
				"name": "Retrieve_Client_Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Azure_Sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IterateClientValue",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Retrieve_Client_Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Retrieve_Client_Value').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "ExecutePipelineTestWorkspace",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FirstTimeLoadMasterPipelinesExecution",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false
							}
						},
						{
							"name": "ExecutePipelineTestWorkspace_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Reports",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SubscriptionID": {
				"type": "string",
				"defaultValue": "a683694f-e3fc-4cd0-8f1d-b63f8ff20604"
			},
			"ResourceGroup": {
				"type": "string",
				"defaultValue": "ubti-d-wind-PBIMonitor"
			},
			"DataFactoryName": {
				"type": "string",
				"defaultValue": "ubtiPBIMonitor"
			},
			"PipelineName": {
				"type": "string",
				"defaultValue": "Test_WorkspacesAPI"
			}
		},
		"variables": {
			"clientID": {
				"type": "String"
			},
			"PipelinesStatus": {
				"type": "String"
			},
			"PipelineStartTime": {
				"type": "String"
			},
			"PipelineEndTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UBTI_DEV RunStatus"
		},
		"annotations": []
	}
}