pipeline/pl_adf_orchestration.json
{
	"name": "pl_adf_orchestration",
	"properties": {
		"activities": [
			{
				"name": "Retrieve_Client_Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableDS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IterateClientValue",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Retrieve_Client_Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Retrieve_Client_Value').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "ExecutePipelineTestWorkspace",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "WorkSpaces",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"ClientId": {
										"value": "@item().ClientId",
										"type": "Expression"
									},
									"TenantId": {
										"value": "@item().TenantId",
										"type": "Expression"
									},
									"AZSecretName": {
										"value": "@item().AZSecretName",
										"type": "Expression"
									},
									"OrganisationId": {
										"value": "@item().OrganisationId",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Web_Activity",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"content-type": {
										"value": "application/json",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory,'/pipelines/',pipeline().parameters.PipelineName,'/createRun?api-version=2018-06-01')",
									"type": "Expression"
								},
								"body": {
									"value": "{}",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SubscriptionID": {
				"type": "string",
				"defaultValue": "a683694f-e3fc-4cd0-8f1d-b63f8ff20604"
			},
			"ResourceGroup": {
				"type": "string",
				"defaultValue": "ubti-d-wind-PBIMonitor"
			},
			"DataFactoryName": {
				"type": "string",
				"defaultValue": "ubtiPBIMonitor"
			},
			"PipelineName": {
				"type": "string",
				"defaultValue": "Test_WorkspacesAPI"
			}
		},
		"variables": {
			"clientID": {
				"type": "String"
			},
			"PipelinesStatus": {
				"type": "String"
			},
			"PipelineStartTime": {
				"type": "String"
			},
			"PipelineEndTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UBTI_DEV RunStatus"
		},
		"annotations": []
	}
}