pipeline/post_add_user_groups.json
{
	"name": "post_add_user_groups",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "getgroups_sql_db",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@{concat('https://api.powerbi.com/v1.0/myorg/admin/groups/',item().id,'/users')}",
									"type": "Expression"
								},
								"method": "POST",
								"body": "$Body = '{\n  \"identifier\": \"ec8b82dc-807b-4b8c-b66f-0d9d347ecb78\",\n  \"groupUserAccessRight\": \"Admin\",\n  \"principalType\": \"Group\"\n}'",
								"authentication": {
									"type": "UserAssignedManagedIdentity"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}