pipeline/Reports.json
{
	"name": "Reports",
	"properties": {
		"activities": [
			{
				"name": "Reports Staging",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Truncate Table dbo.Reports_Staging;",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "ReportSourceKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['reportType']"
								},
								"sink": {
									"name": "ReportType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "ReportName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['webUrl']"
								},
								"sink": {
									"name": "ReportWebUrl",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['embedUrl']"
								},
								"sink": {
									"name": "ReportEmbedUrl",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['datasetId']"
								},
								"sink": {
									"name": "DatasetID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['workspaceId']"
								},
								"sink": {
									"name": "WorkSpaceID",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "Reports_API",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Reports_SQL_Staging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Report Live Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Reports Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ReportSourceKey"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ReportSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportWebUrl",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportWebUrl",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportEmbedUrl",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportEmbedUrl",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Reports_SQL_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Reports_SQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Report History Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Reports Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ReportSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportWebUrl",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportWebUrl",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportEmbedUrl",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportEmbedUrl",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Reports_SQL_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Reports_SQL_History",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Reports Staging_Execution StartT",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Reports Staging",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Report History Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Reports Staging_StartTime",
					"value": {
						"value": "@activity('Reports Staging').Execution StartTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Reporting_Staging_Status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Reports Staging",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Report History Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Reports_Staging_Status",
					"value": {
						"value": "@activity('Reports Staging').Status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Reporting_Staging EndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Reports Staging",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Report History Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Reports Staging_Execution EndTime",
					"value": {
						"value": "@activity('Reports Staging').ExecutionEndTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Reports Staging_IST",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Reporting_Staging EndTime",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Reports Staging_IST2",
					"value": {
						"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Reporting Staging_IST",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Reporting_Staging_Status",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Reports Staging_IST",
					"value": {
						"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set Reports Staging_Execution StartT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@variables('Reports Staging_IST2')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@variables('Reports Staging_IST')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@variables('Reports_Staging_Status')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Reports_Staging_Status": {
				"type": "String"
			},
			"Reports Staging_StartTime": {
				"type": "String"
			},
			"Reports Staging_Execution EndTime": {
				"type": "String"
			},
			"Reports Staging_IST2": {
				"type": "String"
			},
			"Reports Staging_IST": {
				"type": "String"
			},
			"ReportPages_Status": {
				"type": "String"
			},
			"ReportPages_StartTime": {
				"type": "String"
			},
			"ReportPages_IST": {
				"type": "String"
			},
			"ReportPages_IST2": {
				"type": "String"
			},
			"ReportPages_EndTime": {
				"type": "String"
			},
			"RefreshSchedules_Status": {
				"type": "String"
			},
			"RefreshSchedules": {
				"type": "String"
			},
			"RefreshSchedules_EndTime": {
				"type": "String"
			},
			"RefreshSchedules_IST": {
				"type": "String"
			},
			"RefreshSchedules_IST2": {
				"type": "String"
			},
			"ReportUsers_Status": {
				"type": "String"
			},
			"ReportUsers_StartTime": {
				"type": "String"
			},
			"ReportUsers_EndTime": {
				"type": "String"
			},
			"ReportUsers_IST": {
				"type": "String"
			},
			"ReportUsers_IST2": {
				"type": "String"
			},
			"Datasources_Status": {
				"type": "String"
			},
			"Datasources_StartTime": {
				"type": "String"
			},
			"Datasources_EndTime": {
				"type": "String"
			},
			"Datasources_IST": {
				"type": "String"
			},
			"Datasources_IST2": {
				"type": "String"
			},
			"DatasetUsers_Status": {
				"type": "String"
			},
			"DatasetUsers_StartTime": {
				"type": "String"
			},
			"DatasetUsers_EndTime": {
				"type": "String"
			},
			"DatasetUsers_IST": {
				"type": "String"
			},
			"DatasetUsers_IST2": {
				"type": "String"
			},
			"Datasets_status": {
				"type": "String"
			},
			"Datasets_startTime": {
				"type": "String"
			},
			"Datasets_EndTime": {
				"type": "String"
			},
			"Datasets_IST": {
				"type": "String"
			},
			"Datasets_IST2": {
				"type": "String"
			},
			"DatasetsRefreshes_status": {
				"type": "String"
			},
			"DatasetsRefreshes_StartTime": {
				"type": "String"
			},
			"DatasetsRefreshes_EndTime": {
				"type": "String"
			},
			"DatasetsRefreshes_IST": {
				"type": "String"
			},
			"DatasetsRefreshes_IST2": {
				"type": "String"
			},
			"DataFlows_Status": {
				"type": "String"
			},
			"DataFlows_StartTime": {
				"type": "String"
			},
			"DataFlows_EndTime": {
				"type": "String"
			},
			"DataFlows_IST": {
				"type": "String"
			},
			"DataFlows_IST2": {
				"type": "String"
			},
			"DataFlowRefreshes_Status": {
				"type": "String"
			},
			"DataFlowRefreshes_StartTime": {
				"type": "String"
			},
			"DataFlowRefreshes_EndTime": {
				"type": "String"
			},
			"DataFlowRefreshes_IST": {
				"type": "String"
			},
			"DataFlowRefreshes_IST2": {
				"type": "String"
			},
			"ViewReports_Status": {
				"type": "String"
			},
			"ViewReports_StartTime": {
				"type": "String"
			},
			"ViewReports_EndTime": {
				"type": "String"
			},
			"ViewReports_IST": {
				"type": "String"
			},
			"ViewReports_IST2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UBTI_Dev"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T05:26:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}