pipeline/ReportUsers.json
{
	"name": "GetReportUsers",
	"properties": {
		"activities": [
			{
				"name": "Get Reports",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select ReportSourceKey from [dbo].[Reports]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Reports_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ReportID in Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Reports",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Reports').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get ReportUsers Details",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "ReportID",
											"value": {
												"value": "@item().ReportSourceKey",
												"type": "Expression"
											}
										},
										{
											"name": "TenantId",
											"value": {
												"value": "@pipeline().parameters.TenantId",
												"type": "Expression"
											}
										},
										{
											"name": "OrganisationId",
											"value": {
												"value": "@pipeline().parameters.OrganisationId",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "Truncate Table [dbo].[ReportUsers]",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['reportUserAccessRight']"
											},
											"sink": {
												"name": "ReportUserAccessRight",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['emailAddress']"
											},
											"sink": {
												"name": "EmailAddress",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['displayName']"
											},
											"sink": {
												"name": "UserName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['identifier']"
											},
											"sink": {
												"name": "Identifier",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['graphId']"
											},
											"sink": {
												"name": "ReportUserSourceKey",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['principalType']"
											},
											"sink": {
												"name": "PrincipalType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReportID']"
											},
											"sink": {
												"name": "ReportID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['TenantId']"
											},
											"sink": {
												"name": "TenantID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['OrganisationId']"
											},
											"sink": {
												"name": "OrganisationID",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['value']"
								}
							},
							"inputs": [
								{
									"referenceName": "ReportUsers_API",
									"type": "DatasetReference",
									"parameters": {
										"ReportID": {
											"value": "@item().ReportSourceKey",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GetReportUsers_SQL",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "sp_TrackProcessSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Reports",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": "NA",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@activity('Get Reports').Status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_TrackProcessFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Reports",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Get Reports').error?.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@activity('Get Reports').Status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TenantId": {
				"type": "string",
				"defaultValue": "008502d6-3f79-46f0-ab37-9354e3fe80ff"
			},
			"OrganisationId": {
				"type": "string",
				"defaultValue": "001"
			}
		},
		"variables": {
			"ReportUsers_Status": {
				"type": "String"
			},
			"ReportUsers_StartTime": {
				"type": "String"
			},
			"ReportUsers_EndTime": {
				"type": "String"
			},
			"ReportUsers_IST": {
				"type": "String"
			},
			"ReportUsers_IST2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UBTI_Dev"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T06:27:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}