pipeline/Test_WorkspacesAPI.json
{
	"name": "Test_WorkspacesAPI",
	"properties": {
		"activities": [
			{
				"name": "Test_Workspaces",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "WorkSpaceSourceKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['isReadOnly']"
								},
								"sink": {
									"name": "IsReadOnly",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['isOnDedicatedCapacity']"
								},
								"sink": {
									"name": "IsonDedicatedCapacity",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['capacityMigrationStatus']"
								},
								"sink": {
									"name": "CapacityMigrationStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['description']"
								},
								"sink": {
									"name": "WorkSpaceDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "WorkSpaceType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['hasWorkspaceLevelSettings ']"
								},
								"sink": {
									"name": "HasWorkspaceLevelSetting",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "WorkSpaceName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ClientId']"
								},
								"sink": {
									"name": "ClientId",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "Test_Workspaces",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Test_WorkspacesSQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set ExecutionStartTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Test_Workspaces",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExecutionStartTime",
					"value": "@activity('Test_Workspaces').ExecutionStartTime"
				}
			},
			{
				"name": "Set ExecutionEndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Test_Workspaces",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExecutionEndTime",
					"value": "@activity('Test_Workspaces').ExecutionEndTime"
				}
			},
			{
				"name": "Set Status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Test_Workspaces",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Status",
					"value": "@activity('Test_Workspaces').Status"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Test_Workspaces",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[TrackersforPipeline]"
				},
				"linkedServiceName": {
					"referenceName": "Test_Pipelines",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ClientID": {
				"type": "String"
			},
			"Duration": {
				"type": "String"
			},
			"PipelineName": {
				"type": "String"
			},
			"RunEnd": {
				"type": "String"
			},
			"RunStart": {
				"type": "String"
			},
			"Status": {
				"type": "String"
			},
			"TriggeredBy": {
				"type": "String"
			},
			"RunID": {
				"type": "String"
			}
		},
		"variables": {
			"ClientID": {
				"type": "String"
			},
			"V1": {
				"type": "String"
			},
			"V2": {
				"type": "String"
			},
			"V3": {
				"type": "String"
			},
			"V4": {
				"type": "String"
			},
			"V6": {
				"type": "String"
			},
			"V7": {
				"type": "String"
			},
			"Status": {
				"type": "String"
			},
			"ExecutionStartTime": {
				"type": "String"
			},
			"ExecutionEndTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Testing pipelines"
		},
		"annotations": []
	}
}