pipeline/Test_WorkspacesAPI.json
{
	"name": "Test_WorkspacesAPI",
	"properties": {
		"activities": [
			{
				"name": "Test_Workspaces",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['datasets'][0]['isRefreshable']"
								}
							},
							{
								"source": {
									"path": "['datasets'][0]['isEffectiveIdentityRequired']"
								}
							},
							{
								"source": {
									"path": "['datasets'][0]['isEffectiveIdentityRolesRequired']"
								}
							},
							{
								"source": {
									"path": "['datasets'][0]['targetStorageMode']"
								}
							},
							{
								"source": {
									"path": "['datasets'][0]['createdDate']"
								}
							},
							{
								"source": {
									"path": "['datasets'][0]['contentProviderType']"
								}
							},
							{
								"source": {
									"path": "['datasets'][0]['upstreamDatasets'][0]"
								}
							},
							{
								"source": {
									"path": "['datasets'][0]['users'][0]"
								}
							},
							{
								"source": {
									"path": "['datasets'][0]['isInPlaceSharingEnabled']"
								}
							},
							{
								"source": {
									"path": "['dataflows'][0]"
								}
							},
							{
								"source": {
									"path": "['users'][0]['emailAddress']"
								}
							},
							{
								"source": {
									"path": "['users'][0]['groupUserAccessRight']"
								}
							},
							{
								"source": {
									"path": "['users'][0]['displayName']"
								}
							},
							{
								"source": {
									"path": "['users'][0]['identifier']"
								}
							},
							{
								"source": {
									"path": "['users'][0]['principalType']"
								}
							}
						],
						"collectionReference": "$['value']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "Test_Workspaces",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Test_WorkspacesSQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "In Progress Status",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "InProgress Status",
					"value": {
						"value": "@variables('Status')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Master_PipelineExecution]",
					"storedProcedureParameters": {
						"CompleteStatus": {
							"value": "Started",
							"type": "String"
						},
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"LID": {
							"value": "0",
							"type": "Int32"
						},
						"PipelineName": {
							"value": "Pipeline 1",
							"type": "String"
						},
						"RunID": {
							"value": "2134567890456789",
							"type": "String"
						},
						"RunningStatus": {
							"value": "False",
							"type": "Boolean"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Status": {
							"value": "Started",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Wait",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 120
				}
			},
			{
				"name": "Stored procedure1_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Master_PipelineExecution]",
					"storedProcedureParameters": {
						"CompleteStatus": {
							"value": "Success",
							"type": "String"
						},
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"LID": {
							"value": {
								"value": "@activity('Stored procedure1').output",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"PipelineName": {
							"value": null,
							"type": "String"
						},
						"RunID": {
							"value": null,
							"type": "String"
						},
						"RunningStatus": {
							"value": null,
							"type": "Boolean"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ClientID": {
				"type": "String"
			},
			"V1": {
				"type": "String"
			},
			"V2": {
				"type": "String"
			},
			"V3": {
				"type": "String"
			},
			"V4": {
				"type": "String"
			},
			"V6": {
				"type": "String"
			},
			"V7": {
				"type": "String"
			},
			"Status": {
				"type": "String"
			},
			"ExecutionStartTime": {
				"type": "String"
			},
			"ExecutionEndTime": {
				"type": "String"
			},
			"Workspaces Status": {
				"type": "String"
			},
			"Workspaces_Execution StartTime": {
				"type": "String"
			},
			"InProgress Status": {
				"type": "String",
				"defaultValue": "InProgress"
			}
		},
		"folder": {
			"name": "Sample Pipelines"
		},
		"annotations": []
	}
}