pipeline/ViewReports.json
{
	"name": "ViewReports",
	"properties": {
		"activities": [
			{
				"name": "View Activity Live Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "View Activity Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [dbo].[ViewReports]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ViewReportSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ViewReportSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RecordType",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RecordType",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CreationTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreationTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Operation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Operation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OrganizationID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OrganizationID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Workload",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Workload",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ClientIP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ClientIP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserAgent",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserAgent",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Activity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Activity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CapacityID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CapacityID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CapacityName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CapacityName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkspaceID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkspaceID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AppName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ObjectID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ObjectID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ArtifactId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ArtifactId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ArtifactName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ArtifactName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsSucess",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsSucess",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ReportType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RequestID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RequestID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ActivityID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ActivityID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AppReportID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppReportID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DistributionMethod",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DistributionMethod",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ConsumptionMethod",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ConsumptionMethod",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AppID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ArtifactKind",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ArtifactKind",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RefreshEnforcementPolicy",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "RefreshEnforcementPolicy",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ContinuationURL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ContinuationURL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ContinuationToken",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ContinuationToken",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "lastResultSet",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "lastResultSet",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ViewReports_SQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ViewReportLive_SQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "View Activity History",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "View Activity Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ViewReportSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ViewReportSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RecordType",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RecordType",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CreationTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreationTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Operation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Operation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OrganizationID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OrganizationID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Workload",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Workload",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ClientIP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ClientIP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UserAgent",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UserAgent",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Activity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Activity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CapacityID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CapacityID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CapacityName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CapacityName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkspaceID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkspaceID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AppName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ObjectID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ObjectID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DatasetID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DatasetID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReportID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ArtifactId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ArtifactId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ArtifactName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ArtifactName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsSucess",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsSucess",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ReportType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RequestID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RequestID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ActivityID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ActivityID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AppReportID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppReportID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DistributionMethod",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DistributionMethod",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ConsumptionMethod",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ConsumptionMethod",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AppID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ArtifactKind",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ArtifactKind",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RefreshEnforcementPolicy",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "RefreshEnforcementPolicy",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ContinuationURL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ContinuationURL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ContinuationToken",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ContinuationToken",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "lastResultSet",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "lastResultSet",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ViewReports_SQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ViewReports_SQL_History",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sp_TrackProcessSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "View Activity Live Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "View Activity History",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": "NA",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@activity('View Activity Live Data').Status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_TrackProcessFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "View Activity Live Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('View Activity Live Data').error?.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@activity('View Activity Live Data').Status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "View Activity Staging",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"AbsoluteUrl": "$['continuationUri']"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Truncate Table dbo.ViewReports_Staging",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['Id']"
								},
								"sink": {
									"name": "ViewReportSourceKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RecordType']"
								},
								"sink": {
									"name": "RecordType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['CreationTime']"
								},
								"sink": {
									"name": "CreationTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['Operation']"
								},
								"sink": {
									"name": "Operation",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['OrganizationId']"
								},
								"sink": {
									"name": "OrganizationID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['UserType']"
								},
								"sink": {
									"name": "UserType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['UserKey']"
								},
								"sink": {
									"name": "UserKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Workload']"
								},
								"sink": {
									"name": "Workload",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['UserId']"
								},
								"sink": {
									"name": "UserID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ClientIP']"
								},
								"sink": {
									"name": "ClientIP",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Activity']"
								},
								"sink": {
									"name": "Activity",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ItemName']"
								},
								"sink": {
									"name": "ItemName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['WorkSpaceName']"
								},
								"sink": {
									"name": "WorkSpaceName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DatasetName']"
								},
								"sink": {
									"name": "DatasetName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReportName']"
								},
								"sink": {
									"name": "ReportName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CapacityId']"
								},
								"sink": {
									"name": "CapacityID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CapacityName']"
								},
								"sink": {
									"name": "CapacityName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['WorkspaceId']"
								},
								"sink": {
									"name": "WorkspaceID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ObjectId']"
								},
								"sink": {
									"name": "ObjectID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DatasetId']"
								},
								"sink": {
									"name": "DatasetID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReportId']"
								},
								"sink": {
									"name": "ReportID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ArtifactId']"
								},
								"sink": {
									"name": "ArtifactId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ArtifactName']"
								},
								"sink": {
									"name": "ArtifactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IsSuccess']"
								},
								"sink": {
									"name": "IsSucess",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['ReportType']"
								},
								"sink": {
									"name": "ReportType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RequestId']"
								},
								"sink": {
									"name": "RequestID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ActivityId']"
								},
								"sink": {
									"name": "ActivityID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DistributionMethod']"
								},
								"sink": {
									"name": "DistributionMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ConsumptionMethod']"
								},
								"sink": {
									"name": "ConsumptionMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ArtifactKind']"
								},
								"sink": {
									"name": "ArtifactKind",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RefreshEnforcementPolicy']"
								},
								"sink": {
									"name": "RefreshEnforcementPolicy",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['continuationUri']"
								},
								"sink": {
									"name": "ContinuationURL",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['continuationToken']"
								},
								"sink": {
									"name": "ContinuationToken",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['lastResultSet']"
								},
								"sink": {
									"name": "lastResultSet",
									"type": "Boolean"
								}
							}
						],
						"collectionReference": "$['activityEventEntities']"
					}
				},
				"inputs": [
					{
						"referenceName": "ViewReports_API",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ViewReports_SQL",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"LastRefreshedTime": {
				"type": "String"
			},
			"ViewReports_Status": {
				"type": "String"
			},
			"ViewReports_StartTime": {
				"type": "String"
			},
			"ViewReports_EndTime": {
				"type": "String"
			},
			"ViewReports_IST": {
				"type": "String"
			},
			"ViewReports_IST2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UBTI_Dev"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T09:03:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}