pipeline/WorkspacesUsers_demo.json
{
	"name": "WorkspacesUsers_demo",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select WorkSpaceSourceKey from DemoWorkSpaces where WorkSpaceType ='WorkSpace'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WorkspaceUsersId_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get WorkspaceUsers",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['groupUserAccessRight']"
											},
											"sink": {
												"name": "GroupUserAccessRight",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['displayName']"
											},
											"sink": {
												"name": "UserName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['identifier']"
											},
											"sink": {
												"name": "Identifier",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['principalType']"
											},
											"sink": {
												"name": "PrincipalType",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['value']"
								}
							},
							"inputs": [
								{
									"referenceName": "Get_WorksapceUsers",
									"type": "DatasetReference",
									"parameters": {
										"WorkspaceID": {
											"value": "@item().WorkSpaceSourceKey",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "WorksapcesUsers_sql",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Testing"
		},
		"annotations": []
	}
}