pipeline/WorkSpacesUsers.json
{
	"name": "WorkSpacesUsers",
	"properties": {
		"activities": [
			{
				"name": "Get WorkSpaces",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select WorkSpaceSourceKey from [dbo].[Workspaces_batch] where Status=''Active'' and BatchNo=',pipeline().parameters.BatchNo)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WorkSpaces_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "WorkSpace ID in Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get WorkSpaces",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get WorkSpaces').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Get WorkSpace Users",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "WorkSpaceID",
											"value": {
												"value": "@item().WorkSpaceSourceKey",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['groupUserAccessRight']"
											},
											"sink": {
												"name": "GroupUserAccessRight",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['displayName']"
											},
											"sink": {
												"name": "UserName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['identifier']"
											},
											"sink": {
												"name": "Identifier",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['principalType']"
											},
											"sink": {
												"name": "PrincipalType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['WorkSpaceID']"
											},
											"sink": {
												"name": "WorkSpaceID",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['value']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "WorkSpaceUsers_API",
									"type": "DatasetReference",
									"parameters": {
										"WorkSpaceID": {
											"value": "@item().WorkSpaceSourceKey",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "WorkSpaceUsers_SQL",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set WorkspaceUser",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get WorkSpaces",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkSpaceUsers_Status",
					"value": "@activity('Get WorkSpaces').Status"
				}
			},
			{
				"name": "Set WorkSpaces_StartTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get WorkSpaces",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkSpaceUsers_StartTime",
					"value": "@activity('Get WorkSpaces').ExecutionStartTime"
				}
			},
			{
				"name": "Set WorkSpaces EndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get WorkSpaces",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkSpaceUsers_EndTime",
					"value": "@activity('Get WorkSpaces').ExecutionEndTime"
				}
			},
			{
				"name": "Set WorkSpaceUsers_IST",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set WorkSpaces_StartTime",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkSpacesUsers_IST",
					"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')"
				}
			},
			{
				"name": "Set WorkSpacesUsers_IST2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set WorkSpaces EndTime",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkSpacesUsers_IST2",
					"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')"
				}
			},
			{
				"name": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set WorkSpaces_StartTime",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@variables('WorkSpacesUsers_IST2')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@variables('WorkSpacesUsers_IST')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@variables('WorkSpaceUsers_Status')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"BatchNo": {
				"type": "string"
			}
		},
		"variables": {
			"WorkSpaceUsers_Status": {
				"type": "String"
			},
			"WorkSpaceUsers_StartTime": {
				"type": "String"
			},
			"WorkSpaceUsers_EndTime": {
				"type": "String"
			},
			"WorkSpacesUsers_IST": {
				"type": "String"
			},
			"WorkSpacesUsers_IST2": {
				"type": "String"
			},
			"Reports_Staging_Status": {
				"type": "String"
			},
			"Reports Staging_StartTime": {
				"type": "String"
			},
			"Reports Staging_Execution EndTime": {
				"type": "String"
			},
			"Reports Staging_IST2": {
				"type": "String"
			},
			"Reports Staging_IST": {
				"type": "String"
			},
			"ReportPages_Status": {
				"type": "String"
			},
			"ReportPages_StartTime": {
				"type": "String"
			},
			"ReportPages_IST": {
				"type": "String"
			},
			"ReportPages_IST2": {
				"type": "String"
			},
			"ReportPages_EndTime": {
				"type": "String"
			},
			"RefreshSchedules_Status": {
				"type": "String"
			},
			"RefreshSchedules": {
				"type": "String"
			},
			"RefreshSchedules_EndTime": {
				"type": "String"
			},
			"RefreshSchedules_IST": {
				"type": "String"
			},
			"RefreshSchedules_IST2": {
				"type": "String"
			},
			"ReportUsers_Status": {
				"type": "String"
			},
			"ReportUsers_StartTime": {
				"type": "String"
			},
			"ReportUsers_EndTime": {
				"type": "String"
			},
			"ReportUsers_IST": {
				"type": "String"
			},
			"ReportUsers_IST2": {
				"type": "String"
			},
			"Datasources_Status": {
				"type": "String"
			},
			"Datasources_StartTime": {
				"type": "String"
			},
			"Datasources_EndTime": {
				"type": "String"
			},
			"Datasources_IST": {
				"type": "String"
			},
			"Datasources_IST2": {
				"type": "String"
			},
			"DatasetUsers_Status": {
				"type": "String"
			},
			"DatasetUsers_StartTime": {
				"type": "String"
			},
			"DatasetUsers_EndTime": {
				"type": "String"
			},
			"DatasetUsers_IST": {
				"type": "String"
			},
			"DatasetUsers_IST2": {
				"type": "String"
			},
			"Datasets_status": {
				"type": "String"
			},
			"Datasets_startTime": {
				"type": "String"
			},
			"Datasets_EndTime": {
				"type": "String"
			},
			"Datasets_IST": {
				"type": "String"
			},
			"Datasets_IST2": {
				"type": "String"
			},
			"DatasetsRefreshes_status": {
				"type": "String"
			},
			"DatasetsRefreshes_StartTime": {
				"type": "String"
			},
			"DatasetsRefreshes_EndTime": {
				"type": "String"
			},
			"DatasetsRefreshes_IST": {
				"type": "String"
			},
			"DatasetsRefreshes_IST2": {
				"type": "String"
			},
			"DataFlows_Status": {
				"type": "String"
			},
			"DataFlows_StartTime": {
				"type": "String"
			},
			"DataFlows_EndTime": {
				"type": "String"
			},
			"DataFlows_IST": {
				"type": "String"
			},
			"DataFlows_IST2": {
				"type": "String"
			},
			"DataFlowRefreshes_Status": {
				"type": "String"
			},
			"DataFlowRefreshes_StartTime": {
				"type": "String"
			},
			"DataFlowRefreshes_EndTime": {
				"type": "String"
			},
			"DataFlowRefreshes_IST": {
				"type": "String"
			},
			"DataFlowRefreshes_IST2": {
				"type": "String"
			},
			"ViewReports_Status": {
				"type": "String"
			},
			"ViewReports_StartTime": {
				"type": "String"
			},
			"ViewReports_EndTime": {
				"type": "String"
			},
			"ViewReports_IST": {
				"type": "String"
			},
			"ViewReports_IST2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UBTI"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T06:27:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}