pipeline/WorkSpaces.json
{
	"name": "WorkSpaces",
	"properties": {
		"activities": [
			{
				"name": "WorkSpace Staging",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "TenantId",
								"value": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							},
							{
								"name": "OrganisationId",
								"value": {
									"value": "@pipeline().parameters.OrganisationId",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Truncate Table [dbo].[WorkSpaces_Staging];\n\n",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "WorkSpaceSourceKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['isReadOnly']"
								},
								"sink": {
									"name": "IsReadOnly",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['isOnDedicatedCapacity']"
								},
								"sink": {
									"name": "IsonDedicatedCapacity",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['capacityMigrationStatus']"
								},
								"sink": {
									"name": "CapacityMigrationStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['description']"
								},
								"sink": {
									"name": "WorkSpaceDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "WorkSpaceType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['hasWorkspaceLevelSettings ']"
								},
								"sink": {
									"name": "HasWorkspaceLevelSetting",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "WorkSpaceName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TenantId']"
								},
								"sink": {
									"name": "TenantID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['OrganisationId']"
								},
								"sink": {
									"name": "OrganisationID",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "WorkSpaces_API",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "WorkSpaces_SQL_Staging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "WorkSpace Live Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WorkSpace Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "BEGIN TRANSACTION;\nTRUNCATE TABLE [dbo].[WorkSpaces]\nInsert INTO Workspaces (TenantID,OrganisationID,WorkSpaceSourceKey,WorkSpaceName,WorkSpaceDescription,WorkSpaceType,IsonDedicatedCapacity,CapacityMigrationStatus,Status,IsReadOnly,HasWorkspaceLevelSetting,CreatedDate,ModifiedDate,CreatedBy,ModifiedBy)\nselect  TenantID,OrganisationID,WorkSpaceSourceKey,WorkSpaceName,WorkSpaceDescription,WorkSpaceType,IsonDedicatedCapacity,CapacityMigrationStatus,Status,IsReadOnly,HasWorkspaceLevelSetting,CreatedDate,ModifiedDate,CreatedBy,ModifiedBy\nfrom Workspaces_Staging\nwhere Status = 'Active';\nCOMMIT TRANSACTION\n",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TenantID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TenantID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OrganisationID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OrganisationID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceDescription",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsonDedicatedCapacity",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsonDedicatedCapacity",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CapacityMigrationStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CapacityMigrationStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsReadOnly",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsReadOnly",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "HasWorkspaceLevelSetting",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "HasWorkspaceLevelSetting",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "WorkSpaces_SQL_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "WorkSpaces_SQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "WorkSpace History",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WorkSpace Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "WorkSpaceSourceKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceSourceKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceDescription",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WorkSpaceType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WorkSpaceType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsonDedicatedCapacity",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsonDedicatedCapacity",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CapacityMigrationStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CapacityMigrationStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsReadOnly",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsReadOnly",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "HasWorkspaceLevelSetting",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "HasWorkspaceLevelSetting",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TenantID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TenantID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OrganisationID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OrganisationID",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "WorkSpaces_SQL_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "WorkSpaces_SQL_History",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sp_TrackProcessSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "WorkSpace Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "WorkSpace Live Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "WorkSpace History",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": "NA",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@activity('WorkSpace Staging').Status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_TrackProcessFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "WorkSpace Staging",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "WorkSpace Live Data",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "WorkSpace History",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogADF_PipelineExecution]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Workspace Staging').error?.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@activity('Workspace Staging').Status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_Pipeline_Status_Log",
					"type": "LinkedServiceReference"
				}
			}
		],
		"concurrency": 2,
		"parameters": {
			"TenantId": {
				"type": "String",
				"defaultValue": "008502d6-3f79-46f0-ab37-9354e3fe80ff"
			},
			"ClientId": {
				"type": "String",
				"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
			},
			"ClientKeyCode": {
				"type": "string"
			},
			"OrganisationId": {
				"type": "string",
				"defaultValue": "001"
			}
		},
		"variables": {
			"Workspaces_Status": {
				"type": "String"
			},
			"Workspaces_StartTime": {
				"type": "String"
			},
			"Workspaces_EndTime": {
				"type": "String"
			},
			"Workspaces_IST": {
				"type": "String"
			},
			"Workspaces_IST2": {
				"type": "String"
			},
			"WorkSpaceUsers_Status": {
				"type": "String"
			},
			"WorkSpaceUsers_StartTime": {
				"type": "String"
			},
			"WorkSpaceUsers_EndTime": {
				"type": "String"
			},
			"WorkSpacesUsers_IST": {
				"type": "String"
			},
			"WorkSpacesUsers_IST2": {
				"type": "String"
			},
			"Reports_Staging_Status": {
				"type": "String"
			},
			"Reports Staging_StartTime": {
				"type": "String"
			},
			"Reports Staging_Execution EndTime": {
				"type": "String"
			},
			"Reports Staging_IST2": {
				"type": "String"
			},
			"Reports Staging_IST": {
				"type": "String"
			},
			"ReportPages_Status": {
				"type": "String"
			},
			"ReportPages_StartTime": {
				"type": "String"
			},
			"ReportPages_IST": {
				"type": "String"
			},
			"ReportPages_IST2": {
				"type": "String"
			},
			"ReportPages_EndTime": {
				"type": "String"
			},
			"RefreshSchedules_Status": {
				"type": "String"
			},
			"RefreshSchedules": {
				"type": "String"
			},
			"RefreshSchedules_EndTime": {
				"type": "String"
			},
			"RefreshSchedules_IST": {
				"type": "String"
			},
			"RefreshSchedules_IST2": {
				"type": "String"
			},
			"ReportUsers_Status": {
				"type": "String"
			},
			"ReportUsers_StartTime": {
				"type": "String"
			},
			"ReportUsers_EndTime": {
				"type": "String"
			},
			"ReportUsers_IST": {
				"type": "String"
			},
			"ReportUsers_IST2": {
				"type": "String"
			},
			"Datasources_Status": {
				"type": "String"
			},
			"Datasources_StartTime": {
				"type": "String"
			},
			"Datasources_EndTime": {
				"type": "String"
			},
			"Datasources_IST": {
				"type": "String"
			},
			"Datasources_IST2": {
				"type": "String"
			},
			"DatasetUsers_Status": {
				"type": "String"
			},
			"DatasetUsers_StartTime": {
				"type": "String"
			},
			"DatasetUsers_EndTime": {
				"type": "String"
			},
			"DatasetUsers_IST": {
				"type": "String"
			},
			"DatasetUsers_IST2": {
				"type": "String"
			},
			"Datasets_status": {
				"type": "String"
			},
			"Datasets_startTime": {
				"type": "String"
			},
			"Datasets_EndTime": {
				"type": "String"
			},
			"Datasets_IST": {
				"type": "String"
			},
			"Datasets_IST2": {
				"type": "String"
			},
			"DatasetsRefreshes_status": {
				"type": "String"
			},
			"DatasetsRefreshes_StartTime": {
				"type": "String"
			},
			"DatasetsRefreshes_EndTime": {
				"type": "String"
			},
			"DatasetsRefreshes_IST": {
				"type": "String"
			},
			"DatasetsRefreshes_IST2": {
				"type": "String"
			},
			"DataFlows_Status": {
				"type": "String"
			},
			"DataFlows_StartTime": {
				"type": "String"
			},
			"DataFlows_EndTime": {
				"type": "String"
			},
			"DataFlows_IST": {
				"type": "String"
			},
			"DataFlows_IST2": {
				"type": "String"
			},
			"DataFlowRefreshes_Status": {
				"type": "String"
			},
			"DataFlowRefreshes_StartTime": {
				"type": "String"
			},
			"DataFlowRefreshes_EndTime": {
				"type": "String"
			},
			"DataFlowRefreshes_IST": {
				"type": "String"
			},
			"DataFlowRefreshes_IST2": {
				"type": "String"
			},
			"ViewReports_Status": {
				"type": "String"
			},
			"ViewReports_StartTime": {
				"type": "String"
			},
			"ViewReports_EndTime": {
				"type": "String"
			},
			"ViewReports_IST": {
				"type": "String"
			},
			"ViewReports_IST2": {
				"type": "String"
			},
			"PipelinesStatus": {
				"type": "String"
			},
			"PipelineStartTime": {
				"type": "String"
			},
			"PipelineEndTime": {
				"type": "String"
			},
			"InProgress Status": {
				"type": "String",
				"defaultValue": "InProgress"
			},
			"LID": {
				"type": "Integer"
			},
			"LogID": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "UBTI_Dev"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T05:26:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}