ubtiPBIMonitor/linkedTemplates/ArmTemplate_12.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ubtiPBIMonitor"
		},
		"getreports_sql_ds_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'getreports_sql_ds'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=ubti-ssvr-d-pbimonitor.database.windows.net;Initial Catalog=PowerPulseDB-Dev;User ID=adminsql"
		},
		"AzureSqlDatabaseLS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"AzureSqlDatabaseLS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "pbimonitor"
		},
		"AzureSqlDatabaseLS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"Azure_SQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"Azure_SQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"Azure_SQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DatasetUsers_sql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DatasetUsers_sql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"DatasetUsers_sql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DatasetuserHistory_sql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DatasetuserHistory_sql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"DatasetuserHistory_sql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"LS_API_Dataflow_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.powerbi.com/v1.0/myorg/admin/dataflows"
		},
		"LS_API_Dataflow_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"LS_API_Dataflowrefreshes_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.powerbi.com/v1.0/myorg/groups/',linkedService().WorkSpaceID,'/dataflows/',linkedService().DataFlowID,'/transactions')}\n"
		},
		"LS_API_Dataflowrefreshes_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"LS_API_DatasetUsers_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "\n@{concat('https://api.powerbi.com/v1.0/myorg/groups/',linkedService().WorkSpaceID,'/datasets/',linkedService().DatasetID,'/users')}"
		},
		"LS_API_DatasetUsers_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"LS_API_Datasetrefreshes_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.powerbi.com/v1.0/myorg/groups/',linkedService().WorkSpaceID,'/datasets/',linkedService().DatasetID,'/refreshes')}"
		},
		"LS_API_Datasetrefreshes_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"LS_API_Datasets_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.powerbi.com/v1.0/myorg/admin/datasets"
		},
		"LS_API_Datasets_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"LS_API_ViewReports_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.powerbi.com/v1.0/myorg/admin/activityevents?startDateTime=''',substring(addDays(utcNow(), -1), 0,10),'T00%3A00%3A00.000Z''&endDateTime=''',substring(addDays(utcNow(), -1), 0, 10),'T23%3A59%3A59.000Z''&%24filter=Activity%20eq%20''viewreport''')}"
		},
		"LS_API_ViewReports_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"LS_Api_ReportPages_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.powerbi.com/v1.0/myorg/groups/',linkedService().WorkSpaceID,'/reports/',linkedService().ReportID,'/pages')}"
		},
		"LS_Api_ReportPages_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"LS_Api_Reports_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": " https://api.powerbi.com/v1.0/myorg/admin/reports"
		},
		"LS_Api_Reports_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"Ls_Api_Workspace_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.powerbi.com/v1.0/myorg/admin/groups?$top=5000"
		},
		"Ls_Api_Workspace_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/getusersql_ds_1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "getgroups_sql_ls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "UBTI Datasets_Dev"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "report_user_access_right",
						"type": "varchar"
					},
					{
						"name": "email_address",
						"type": "varchar"
					},
					{
						"name": "display_name",
						"type": "varchar"
					},
					{
						"name": "identifier",
						"type": "varchar"
					},
					{
						"name": "graph_id",
						"type": "varchar"
					},
					{
						"name": "principal_type",
						"type": "varchar"
					},
					{
						"name": "user_type",
						"type": "varchar"
					},
					{
						"name": "report_id",
						"type": "varchar"
					},
					{
						"name": "updated_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "users1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabaseLS_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabaseLS_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabaseLS_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureSQLCredentials",
							"type": "LinkedServiceReference"
						},
						"secretName": "AzureSQLPassword"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Azure_SQL_properties_typeProperties_server')]",
					"database": "[parameters('Azure_SQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Azure_SQL_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyValut",
							"type": "LinkedServiceReference"
						},
						"secretName": "AzureSQLPassword"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetUsers_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DatasetUsers_sql_properties_typeProperties_server')]",
					"database": "[parameters('DatasetUsers_sql_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DatasetUsers_sql_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureSQLCredentials",
							"type": "LinkedServiceReference"
						},
						"secretName": "AzureSQLPassword"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetuserHistory_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DatasetuserHistory_sql_properties_typeProperties_server')]",
					"database": "[parameters('DatasetuserHistory_sql_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DatasetuserHistory_sql_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureSQLCredentials",
							"type": "LinkedServiceReference"
						},
						"secretName": "AzureSQLPassword"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_API_Dataflow')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_API_Dataflow_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('LS_API_Dataflow_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyValut",
							"type": "LinkedServiceReference"
						},
						"secretName": "UBTIClientSecretName"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_API_Dataflowrefreshes')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"WorkSpaceID": {
						"type": "String"
					},
					"DataFlowID": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_API_Dataflowrefreshes_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('LS_API_Dataflowrefreshes_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyValut",
							"type": "LinkedServiceReference"
						},
						"secretName": "UBTIClientSecretName"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_API_DatasetUsers')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"WorkSpaceID": {
						"type": "String"
					},
					"DatasetID": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_API_DatasetUsers_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('LS_API_DatasetUsers_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyValut",
							"type": "LinkedServiceReference"
						},
						"secretName": "UBTIClientSecretName"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_API_Datasetrefreshes')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"WorkSpaceID": {
						"type": "String"
					},
					"DatasetID": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_API_Datasetrefreshes_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('LS_API_Datasetrefreshes_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyValut",
							"type": "LinkedServiceReference"
						},
						"secretName": "UBTIClientSecretName"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_API_Datasets')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_API_Datasets_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('LS_API_Datasets_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyValut",
							"type": "LinkedServiceReference"
						},
						"secretName": "UBTIClientSecretName"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": " https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_API_ViewReports')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_API_ViewReports_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('LS_API_ViewReports_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyValut",
							"type": "LinkedServiceReference"
						},
						"secretName": "UBTIClientSecretName"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Api_ReportPages')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"WorkSpaceID": {
						"type": "String"
					},
					"ReportID": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_Api_ReportPages_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('LS_Api_ReportPages_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyValut",
							"type": "LinkedServiceReference"
						},
						"secretName": "UBTIClientSecretName"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": " https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Api_Reports')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_Api_Reports_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('LS_Api_Reports_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyValut",
							"type": "LinkedServiceReference"
						},
						"secretName": "UBTIClientSecretName"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_Api_Workspace')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Workspace_Tenant2",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Ls_Api_Workspace_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('Ls_Api_Workspace_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyValut",
							"type": "LinkedServiceReference"
						},
						"secretName": "UBTIClientSecretName"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/getreports_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('getreports_sql_ds_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureSQLCredentials",
							"type": "LinkedServiceReference"
						},
						"secretName": "AzureSQLPassword"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DONT TOUCH References')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WorkSpace Staging",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "TenantId",
										"value": {
											"value": "@pipeline().parameters.TenantId",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate Table [dbo].[WorkSpaces_Staging];\n\n",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "WorkSpaceSourceKey",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['isReadOnly']"
										},
										"sink": {
											"name": "IsReadOnly",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['isOnDedicatedCapacity']"
										},
										"sink": {
											"name": "IsonDedicatedCapacity",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['capacityMigrationStatus']"
										},
										"sink": {
											"name": "CapacityMigrationStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['description']"
										},
										"sink": {
											"name": "WorkSpaceDescription",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['type']"
										},
										"sink": {
											"name": "WorkSpaceType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state']"
										},
										"sink": {
											"name": "Status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hasWorkspaceLevelSettings ']"
										},
										"sink": {
											"name": "HasWorkspaceLevelSetting",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "WorkSpaceName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TenantId']"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32"
										}
									}
								],
								"collectionReference": "$['value']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "WorkSpaces_API",
								"type": "DatasetReference",
								"parameters": {
									"AppTenantId": {
										"value": "@pipeline().parameters.AppTenantId",
										"type": "Expression"
									},
									"AppClientId": {
										"value": "@pipeline().parameters.AppClientId",
										"type": "Expression"
									},
									"AppClientCode": {
										"value": "@pipeline().parameters.AppClientCode",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "WorkSpaces_SQL_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "WorkSpace Live Data",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "WorkSpace Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"WorkSpaceSourceKey"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "WorkSpaceSourceKey",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceSourceKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceDescription",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IsonDedicatedCapacity",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsonDedicatedCapacity",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CapacityMigrationStatus",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CapacityMigrationStatus",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IsReadOnly",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsReadOnly",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "HasWorkspaceLevelSetting",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "HasWorkspaceLevelSetting",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "WorkSpaces_SQL_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WorkSpaces_SQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "WorkSpace History",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "WorkSpace Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "WorkSpaceId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "WorkSpaceId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "WorkSpaceSourceKey",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceSourceKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceDescription",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IsonDedicatedCapacity",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsonDedicatedCapacity",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CapacityMigrationStatus",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CapacityMigrationStatus",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IsReadOnly",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsReadOnly",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "HasWorkspaceLevelSetting",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "HasWorkspaceLevelSetting",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "WorkSpaces_SQL_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WorkSpaces_SQL_History",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_TrackProcessSuccess",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "WorkSpace Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "WorkSpace Live Data",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "WorkSpace History",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogADF_PipelineExecution]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": "NA",
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "@activity('WorkSpace Staging').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"TenantID": {
									"value": {
										"value": "@pipeline().parameters.TenantId",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_TrackProcessFailure",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "WorkSpace Staging",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "WorkSpace Live Data",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "WorkSpace History",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogADF_PipelineExecution]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('Workspace Staging').error?.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "@activity('Workspace Staging').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"TenantID": {
									"value": {
										"value": "@pipeline().parameters.TenantId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 2,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AppTenantId": {
						"type": "string",
						"defaultValue": "9049e040-2bf1-47a2-ad39-e23869af08ff"
					},
					"AppClientId": {
						"type": "string",
						"defaultValue": "3a8df53a-9873-4e70-9d69-4725460c62b8"
					},
					"AppClientCode": {
						"type": "string"
					},
					"TenantId": {
						"type": "int",
						"defaultValue": 9
					}
				},
				"variables": {
					"Workspaces_Status": {
						"type": "String"
					},
					"Workspaces_StartTime": {
						"type": "String"
					},
					"Workspaces_EndTime": {
						"type": "String"
					},
					"Workspaces_IST": {
						"type": "String"
					},
					"Workspaces_IST2": {
						"type": "String"
					},
					"WorkSpaceUsers_Status": {
						"type": "String"
					},
					"WorkSpaceUsers_StartTime": {
						"type": "String"
					},
					"WorkSpaceUsers_EndTime": {
						"type": "String"
					},
					"WorkSpacesUsers_IST": {
						"type": "String"
					},
					"WorkSpacesUsers_IST2": {
						"type": "String"
					},
					"Reports_Staging_Status": {
						"type": "String"
					},
					"Reports Staging_StartTime": {
						"type": "String"
					},
					"Reports Staging_Execution EndTime": {
						"type": "String"
					},
					"Reports Staging_IST2": {
						"type": "String"
					},
					"Reports Staging_IST": {
						"type": "String"
					},
					"ReportPages_Status": {
						"type": "String"
					},
					"ReportPages_StartTime": {
						"type": "String"
					},
					"ReportPages_IST": {
						"type": "String"
					},
					"ReportPages_IST2": {
						"type": "String"
					},
					"ReportPages_EndTime": {
						"type": "String"
					},
					"RefreshSchedules_Status": {
						"type": "String"
					},
					"RefreshSchedules": {
						"type": "String"
					},
					"RefreshSchedules_EndTime": {
						"type": "String"
					},
					"RefreshSchedules_IST": {
						"type": "String"
					},
					"RefreshSchedules_IST2": {
						"type": "String"
					},
					"ReportUsers_Status": {
						"type": "String"
					},
					"ReportUsers_StartTime": {
						"type": "String"
					},
					"ReportUsers_EndTime": {
						"type": "String"
					},
					"ReportUsers_IST": {
						"type": "String"
					},
					"ReportUsers_IST2": {
						"type": "String"
					},
					"Datasources_Status": {
						"type": "String"
					},
					"Datasources_StartTime": {
						"type": "String"
					},
					"Datasources_EndTime": {
						"type": "String"
					},
					"Datasources_IST": {
						"type": "String"
					},
					"Datasources_IST2": {
						"type": "String"
					},
					"DatasetUsers_Status": {
						"type": "String"
					},
					"DatasetUsers_StartTime": {
						"type": "String"
					},
					"DatasetUsers_EndTime": {
						"type": "String"
					},
					"DatasetUsers_IST": {
						"type": "String"
					},
					"DatasetUsers_IST2": {
						"type": "String"
					},
					"Datasets_status": {
						"type": "String"
					},
					"Datasets_startTime": {
						"type": "String"
					},
					"Datasets_EndTime": {
						"type": "String"
					},
					"Datasets_IST": {
						"type": "String"
					},
					"Datasets_IST2": {
						"type": "String"
					},
					"DatasetsRefreshes_status": {
						"type": "String"
					},
					"DatasetsRefreshes_StartTime": {
						"type": "String"
					},
					"DatasetsRefreshes_EndTime": {
						"type": "String"
					},
					"DatasetsRefreshes_IST": {
						"type": "String"
					},
					"DatasetsRefreshes_IST2": {
						"type": "String"
					},
					"DataFlows_Status": {
						"type": "String"
					},
					"DataFlows_StartTime": {
						"type": "String"
					},
					"DataFlows_EndTime": {
						"type": "String"
					},
					"DataFlows_IST": {
						"type": "String"
					},
					"DataFlows_IST2": {
						"type": "String"
					},
					"DataFlowRefreshes_Status": {
						"type": "String"
					},
					"DataFlowRefreshes_StartTime": {
						"type": "String"
					},
					"DataFlowRefreshes_EndTime": {
						"type": "String"
					},
					"DataFlowRefreshes_IST": {
						"type": "String"
					},
					"DataFlowRefreshes_IST2": {
						"type": "String"
					},
					"ViewReports_Status": {
						"type": "String"
					},
					"ViewReports_StartTime": {
						"type": "String"
					},
					"ViewReports_EndTime": {
						"type": "String"
					},
					"ViewReports_IST": {
						"type": "String"
					},
					"ViewReports_IST2": {
						"type": "String"
					},
					"PipelinesStatus": {
						"type": "String"
					},
					"PipelineStartTime": {
						"type": "String"
					},
					"PipelineEndTime": {
						"type": "String"
					},
					"InProgress Status": {
						"type": "String",
						"defaultValue": "InProgress"
					},
					"LID": {
						"type": "Integer"
					},
					"LogID": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "UBTI_DEV RunStatus"
				},
				"annotations": [],
				"lastPublishTime": "2023-11-29T05:26:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DataFlowRefreshes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Dataflows",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select DataflowSourcekey,WorkSpaceID from [dbo].[DataFlows_batch] \nwhere BatchNo =',string(pipeline().parameters.BatchNo),\n' AND TenantId = ',string(pipeline().parameters.TenantId))",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFlow_SQL",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Dataflow ID in Loop",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Dataflows",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Dataflows').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Get DataflowRefresh_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "WorkSpaceID",
													"value": {
														"value": "@item().WorkSpaceID",
														"type": "Expression"
													}
												},
												{
													"name": "DataFlowID",
													"value": {
														"value": "@item().DataflowSourceKey",
														"type": "Expression"
													}
												},
												{
													"name": "TenantId",
													"value": {
														"value": "@pipeline().parameters.TenantId",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"dataIntegrationUnits": 4,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "DataflowRefreshesSourcekey",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['refreshType']"
													},
													"sink": {
														"name": "RefreshType",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['startTime']"
													},
													"sink": {
														"name": "StartTime",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"path": "[['endTime']"
													},
													"sink": {
														"name": "EndTime",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"path": "[['status']"
													},
													"sink": {
														"name": "Status",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['WorkSpaceID']"
													},
													"sink": {
														"name": "WorkSpaceID",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['DataFlowID']"
													},
													"sink": {
														"name": "DataflowID",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['TenantId']"
													},
													"sink": {
														"name": "TenantId",
														"type": "Int32"
													}
												}
											],
											"collectionReference": "$['value']"
										}
									},
									"inputs": [
										{
											"referenceName": "DataFlowRefreshes_API",
											"type": "DatasetReference",
											"parameters": {
												"WorkSpaceID": {
													"value": "@item().WorkSpaceID",
													"type": "Expression"
												},
												"DataFlowID": {
													"value": "@item().DataflowSourceKey",
													"type": "Expression"
												},
												"AppTenantId": {
													"value": "@pipeline().parameters.AppTenantId",
													"type": "Expression"
												},
												"AppClientId": {
													"value": "@pipeline().parameters.AppClientId",
													"type": "Expression"
												},
												"AppClientCode": {
													"value": "@pipeline().parameters.AppClientCode",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DataFlowRefreshes_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Capturing DataflowRefreshes Staging",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get DataflowRefresh_Staging",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "pipelineReturnValue",
										"value": [
											{
												"key": "DataflowRefreshes Staging Status",
												"value": {
													"type": "Expression",
													"content": "@activity('Get DataflowRefresh_Staging').Status"
												}
											}
										],
										"setSystemVariable": true
									}
								},
								{
									"name": "Capturing EM",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Get DataflowRefresh_Staging",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Sp_Capturing Error Message]",
										"storedProcedureParameters": {
											"AppClientId": {
												"value": {
													"value": "@pipeline().parameters.AppClientId",
													"type": "Expression"
												},
												"type": "String"
											},
											"AppClientSecret": {
												"value": {
													"value": "@pipeline().parameters.AppClientCode",
													"type": "Expression"
												},
												"type": "String"
											},
											"AppTentantId": {
												"value": {
													"value": "@pipeline().parameters.AppTenantId",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataLoadTrackerId": {
												"value": "",
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@activity('Get DataflowRefresh_Staging').error?.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessEndTime": {
												"value": {
													"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"ProcessStartTime": {
												"value": {
													"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"Status": {
												"value": {
													"value": "@activity('Get DataflowRefresh_Staging').Status",
													"type": "Expression"
												},
												"type": "String"
											},
											"TenantId": {
												"value": {
													"value": "@pipeline().parameters.TenantId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"WorkSpaceID": {
												"value": {
													"value": "@item().WorkSpaceID",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataFlowID": {
												"value": {
													"value": "@item().DataflowSourceKey",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Capturing Error Message",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Sp_TrackProcessSuccess",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogADF_PipelineExecution]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": "NA",
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "@activity('Get Dataflows').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"TenantID": {
									"value": {
										"value": "@pipeline().parameters.TenantID",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_TrackProcessFailure",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogADF_PipelineExecution]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": null,
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Capturing Get Dataflows Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Dataflows",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "Get Dataflowsrefreshes Status",
									"value": {
										"type": "Expression",
										"content": "@activity('Get Dataflows').Status"
									}
								}
							],
							"setSystemVariable": true
						}
					},
					{
						"name": "Capturing DataflowRefreshes Live Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "InserUpdate DataflowRefreshes",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "DataflowRefreshesLive Status",
									"value": {
										"type": "Expression",
										"content": "@activity('InserUpdate DataflowRefreshes').Status"
									}
								}
							],
							"setSystemVariable": true
						}
					},
					{
						"name": "Get DataflowRefresh_Live",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"DataflowRefreshesSourcekey"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DataflowRefreshesSourcekey",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowRefreshesSourcekey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataflowID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RefreshType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RefreshType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "StartTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "StartTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "EndTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "EndTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_DataFlowRefreshLive_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_DataFlowRefeshLive",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "InserUpdate DataflowRefreshes",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Dataflow ID in Loop",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "InserUpdate Dataflowrefreshes",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "EXEC DataflowRefreshes_InsertUpsert"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AppTenantId": {
						"type": "string"
					},
					"AppClientId": {
						"type": "string"
					},
					"AppClientCode": {
						"type": "string"
					},
					"TenantId": {
						"type": "int"
					},
					"BatchNo": {
						"type": "string",
						"defaultValue": "@item().BatchNo"
					}
				},
				"variables": {
					"DataFlowRefreshes_Status": {
						"type": "String"
					},
					"DataFlowRefreshes_StartTime": {
						"type": "String"
					},
					"DataFlowRefreshes_EndTime": {
						"type": "String"
					},
					"DataFlowRefreshes_IST": {
						"type": "String"
					},
					"DataFlowRefreshes_IST2": {
						"type": "String"
					},
					"DataflowRefreshes Status": {
						"type": "String"
					},
					"Get Dataflowsrefreshes Status": {
						"type": "String"
					},
					"Get Dataflowsrefreshes Batch": {
						"type": "String"
					},
					"DataflowRefreshes History Status": {
						"type": "String"
					},
					"Master Workspaces Status": {
						"type": "String"
					},
					"Master WorkSpaceUsers Status": {
						"type": "String"
					},
					"Master Report status": {
						"type": "String"
					},
					"Master ReportPages Status": {
						"type": "String"
					},
					"Master Datasets Status": {
						"type": "String"
					},
					"Master Datasetfreshes status": {
						"type": "String"
					},
					"Master Datasetusers Status": {
						"type": "String"
					},
					"Master Viewreports Status": {
						"type": "String"
					},
					"Master Dataflows Status": {
						"type": "String"
					},
					"Master DataflowRefreshes Status": {
						"type": "String"
					},
					"DataflowRefreshesLive Status": {
						"type": "String"
					},
					"Dataflowrefreshes Staging EM": {
						"type": "String"
					},
					"DataflowRefreshes Staging Status": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Dev_DailyScheduleChildPipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DataFlowRefreshes_UAT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Dataflows",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select DataflowSourcekey,WorkSpaceID from [dbo].[DataFlows_batch] \nwhere BatchNo =',string(pipeline().parameters.BatchNo),\n' AND TenantId = ',string(pipeline().parameters.TenantId))",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataflowLive_sql_UAT",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Dataflow ID in Loop",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Dataflows",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Dataflows').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Get DataflowRefresh_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "WorkSpaceID",
													"value": {
														"value": "@item().WorkSpaceID",
														"type": "Expression"
													}
												},
												{
													"name": "DataFlowID",
													"value": {
														"value": "@item().DataflowSourceKey",
														"type": "Expression"
													}
												},
												{
													"name": "TenantId",
													"value": {
														"value": "@pipeline().parameters.TenantId",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"dataIntegrationUnits": 4,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "DataflowRefreshesSourcekey",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['refreshType']"
													},
													"sink": {
														"name": "RefreshType",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['startTime']"
													},
													"sink": {
														"name": "StartTime",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"path": "[['endTime']"
													},
													"sink": {
														"name": "EndTime",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"path": "[['status']"
													},
													"sink": {
														"name": "Status",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['WorkSpaceID']"
													},
													"sink": {
														"name": "WorkSpaceID",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['DataFlowID']"
													},
													"sink": {
														"name": "DataflowID",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['TenantId']"
													},
													"sink": {
														"name": "TenantId",
														"type": "Int32"
													}
												}
											],
											"collectionReference": "$['value']"
										}
									},
									"inputs": [
										{
											"referenceName": "DataFlowRefreshes_API",
											"type": "DatasetReference",
											"parameters": {
												"WorkSpaceID": {
													"value": "@item().WorkSpaceID",
													"type": "Expression"
												},
												"DataFlowID": {
													"value": "@item().DataflowSourceKey",
													"type": "Expression"
												},
												"AppTenantId": {
													"value": "@pipeline().parameters.AppTenantId",
													"type": "Expression"
												},
												"AppClientId": {
													"value": "@pipeline().parameters.AppClientId",
													"type": "Expression"
												},
												"AppClientCode": {
													"value": "@pipeline().parameters.AppClientCode",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DataflowRefreshesStaging_sql_UAT",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Capturing DataflowRefreshes Staging",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get DataflowRefresh_Staging",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "pipelineReturnValue",
										"value": [
											{
												"key": "DataflowRefreshes Staging Status",
												"value": {
													"type": "Expression",
													"content": "@activity('Get DataflowRefresh_Staging').Status"
												}
											}
										],
										"setSystemVariable": true
									}
								},
								{
									"name": "Capturing EM",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Get DataflowRefresh_Staging",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "Sp_DataflowRefreshesED",
										"storedProcedureParameters": {
											"AppClientId": {
												"value": {
													"value": "@pipeline().parameters.AppClientId",
													"type": "Expression"
												},
												"type": "String"
											},
											"AppClientSecret": {
												"value": {
													"value": "@pipeline().parameters.AppClientCode",
													"type": "Expression"
												},
												"type": "String"
											},
											"AppTentantId": {
												"value": {
													"value": "@pipeline().parameters.AppTenantId",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataLoadTrackerId": {
												"value": "",
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@activity('Get DataflowRefresh_Staging').error?.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessEndTime": {
												"value": {
													"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"ProcessStartTime": {
												"value": {
													"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"Status": {
												"value": {
													"value": "@activity('Get DataflowRefresh_Staging').Status",
													"type": "Expression"
												},
												"type": "String"
											},
											"TenantId": {
												"value": {
													"value": "@pipeline().parameters.TenantId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"WorkSpaceID": {
												"value": {
													"value": "@item().WorkSpaceID",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataFlowID": {
												"value": {
													"value": "@item().DataflowSourceKey",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DataFlowRefreshes_log_UAT",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Sp_TrackProcessSuccess",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogADF_PipelineExecution]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": "NA",
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "@activity('Get Dataflows').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"TenantID": {
									"value": {
										"value": "@pipeline().parameters.TenantID",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_TrackProcessFailure",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogADF_PipelineExecution]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": null,
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Capturing Get Dataflows Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Dataflows",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "Get Dataflowsrefreshes Status",
									"value": {
										"type": "Expression",
										"content": "@activity('Get Dataflows').Status"
									}
								}
							],
							"setSystemVariable": true
						}
					},
					{
						"name": "Capturing DataflowRefreshes Live Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "InserUpdate DataflowRefreshes",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "DataflowRefreshesLive Status",
									"value": {
										"type": "Expression",
										"content": "@activity('InserUpdate DataflowRefreshes').Status"
									}
								}
							],
							"setSystemVariable": true
						}
					},
					{
						"name": "Get DataflowRefresh_Live",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"DataflowRefreshesSourcekey"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DataflowRefreshesSourcekey",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowRefreshesSourcekey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataflowID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RefreshType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RefreshType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "StartTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "StartTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "EndTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "EndTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_DataFlowRefreshLive_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_DataFlowRefeshLive",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "InserUpdate DataflowRefreshes",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Dataflow ID in Loop",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "InserUpdate_Dataflowrefreshes_UAT",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "EXEC DataflowRefreshes_InsertUpsert"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AppTenantId": {
						"type": "string"
					},
					"AppClientId": {
						"type": "string"
					},
					"AppClientCode": {
						"type": "string"
					},
					"TenantId": {
						"type": "int"
					},
					"BatchNo": {
						"type": "string",
						"defaultValue": "@item().BatchNo"
					}
				},
				"variables": {
					"DataFlowRefreshes_Status": {
						"type": "String"
					},
					"DataFlowRefreshes_StartTime": {
						"type": "String"
					},
					"DataFlowRefreshes_EndTime": {
						"type": "String"
					},
					"DataFlowRefreshes_IST": {
						"type": "String"
					},
					"DataFlowRefreshes_IST2": {
						"type": "String"
					},
					"DataflowRefreshes Status": {
						"type": "String"
					},
					"Get Dataflowsrefreshes Status": {
						"type": "String"
					},
					"Get Dataflowsrefreshes Batch": {
						"type": "String"
					},
					"DataflowRefreshes History Status": {
						"type": "String"
					},
					"Master Workspaces Status": {
						"type": "String"
					},
					"Master WorkSpaceUsers Status": {
						"type": "String"
					},
					"Master Report status": {
						"type": "String"
					},
					"Master ReportPages Status": {
						"type": "String"
					},
					"Master Datasets Status": {
						"type": "String"
					},
					"Master Datasetfreshes status": {
						"type": "String"
					},
					"Master Datasetusers Status": {
						"type": "String"
					},
					"Master Viewreports Status": {
						"type": "String"
					},
					"Master Dataflows Status": {
						"type": "String"
					},
					"Master DataflowRefreshes Status": {
						"type": "String"
					},
					"DataflowRefreshesLive Status": {
						"type": "String"
					},
					"Dataflowrefreshes Staging EM": {
						"type": "String"
					},
					"DataflowRefreshes Staging Status": {
						"type": "String"
					}
				},
				"folder": {
					"name": "UAT_DailyScheduleChildPipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DataFlows')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DataFlow Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Execute ChilsPipelineLog",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "TenantId",
										"value": {
											"value": "@pipeline().parameters.TenantId",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate table Dataflows_Staging",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['objectId']"
										},
										"sink": {
											"name": "DataflowSourceKey",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "DataflowName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['description']"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['workspaceId']"
										},
										"sink": {
											"name": "WorkSpaceID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['configuredBy']"
										},
										"sink": {
											"name": "ConfiguredBy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TenantId']"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32"
										}
									}
								],
								"collectionReference": "$['value']"
							}
						},
						"inputs": [
							{
								"referenceName": "DataFlow_API",
								"type": "DatasetReference",
								"parameters": {
									"AppTenantId": {
										"value": "@pipeline().parameters.AppTenantId",
										"type": "Expression"
									},
									"AppClientId": {
										"value": "@pipeline().parameters.AppClientId",
										"type": "Expression"
									},
									"AppClientCode": {
										"value": "@pipeline().parameters.AppClientCode",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DataFlow_SQL_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DataFlow Live Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DataFlow Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"DataflowSourceKey"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DataflowSourceKey",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowSourceKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataflowName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ConfiguredBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ConfiguredBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DataFlow_SQL_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DataFlow_SQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DataFlow History",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DataFlow Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DataflowSourceKey",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowSourceKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataflowName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ConfiguredBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ConfiguredBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DataFlow_SQL_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DataFlow_SQL_History",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Sp_TrackProcessSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DataFlow Staging",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Capturing Dataflows Staging Status",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "DataFlow Live Data",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Capturing Dataflows Live Status",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "DataFlow History",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Capturing Dataflows History Status",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_ChildPipelineLog_Update]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogTrackerID": {
									"value": {
										"value": "@activity('Execute ChilsPipelineLog').output.firstRow.LogTrackerID",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@if(and(and(\nequals(variables('Dataflows staging Status'),'Succeeded'),\nequals(variables('Dataflows Live Status'),'Succeeded')),\nequals(variables('Dataflows History Status'),'Succeeded')),\n    'Succeeded','Failed')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_TrackProcessFailure",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogADF_PipelineExecution]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": null,
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"DataLoadTrackerID": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Capturing Dataflows Staging Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DataFlow Staging",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Dataflows Staging Status",
							"value": {
								"value": "@activity('DataFlow Staging').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing Dataflows Live Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DataFlow Live Data",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Dataflows Live Status",
							"value": {
								"value": "@activity('DataFlow Live Data').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing Dataflows History Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DataFlow History",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Dataflows History Status",
							"value": {
								"value": "@activity('DataFlow History').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Execute ChilsPipelineLog",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat (\n    'EXEC [dbo].[sp_ChildPipelineLog_Insert] ',\n    '''', 'Started', '''', ',',\n    '''', pipeline().Pipeline, '''', ',',\n    '''', pipeline().RunId, '''', ',',\n    '''', convertTimeZone(utcnow(),'UTC','India Standard Time'), '''', ',',\n    '''', '', '''', ',',\n    '''', pipeline().TriggerName, '''', ',',\n    '''', pipeline().TriggerType, '''', ',',\n    '''', pipeline().TriggerTime, '''', ',',\n    '''', ' ', '''', ',',\n    '''', pipeline().parameters.TenantId, '''', ',',\n    '''', ' ', '''', ',',\n    '''', ' ', ''''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Execute_ChildPipelineLogs",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AppTenantId": {
						"type": "string"
					},
					"AppClientId": {
						"type": "string"
					},
					"AppClientCode": {
						"type": "string"
					},
					"TenantId": {
						"type": "int"
					}
				},
				"variables": {
					"DataFlows_Status": {
						"type": "String"
					},
					"DataFlows_StartTime": {
						"type": "String"
					},
					"DataFlows_EndTime": {
						"type": "String"
					},
					"DataFlows_IST": {
						"type": "String"
					},
					"DataFlows_IST2": {
						"type": "String"
					},
					"Dataflows Staging Status": {
						"type": "String"
					},
					"Dataflows Live Status": {
						"type": "String"
					},
					"Dataflows History Status": {
						"type": "String"
					},
					"DataflowRefreshes Status": {
						"type": "String"
					},
					"Get Dataflowsrefreshes Status": {
						"type": "String"
					},
					"Get Dataflowsrefreshes Batch": {
						"type": "String"
					},
					"DataflowRefreshes History Status": {
						"type": "String"
					},
					"Master Workspaces Status": {
						"type": "String"
					},
					"Master WorkSpaceUsers Status": {
						"type": "String"
					},
					"Master Report status": {
						"type": "String"
					},
					"Master ReportPages Status": {
						"type": "String"
					},
					"Master Datasets Status": {
						"type": "String"
					},
					"Master Datasetfreshes status": {
						"type": "String"
					},
					"Master Datasetusers Status": {
						"type": "String"
					},
					"Master Viewreports Status": {
						"type": "String"
					},
					"Master Dataflows Status": {
						"type": "String"
					},
					"Master DataflowRefreshes Status": {
						"type": "String"
					},
					"DataflowRefreshesLive Status": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Dev_DailyScheduleChildPipelines"
				},
				"annotations": [],
				"lastPublishTime": "2023-11-29T05:26:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DataFlows_UAT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DataFlow Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Execute ChilsPipelineLog",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "TenantId",
										"value": {
											"value": "@pipeline().parameters.TenantId",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate table Dataflows_Staging",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['objectId']"
										},
										"sink": {
											"name": "DataflowSourceKey",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "DataflowName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['description']"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['workspaceId']"
										},
										"sink": {
											"name": "WorkSpaceID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['configuredBy']"
										},
										"sink": {
											"name": "ConfiguredBy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TenantId']"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32"
										}
									}
								],
								"collectionReference": "$['value']"
							}
						},
						"inputs": [
							{
								"referenceName": "DataFlow_API",
								"type": "DatasetReference",
								"parameters": {
									"AppTenantId": {
										"value": "@pipeline().parameters.AppTenantId",
										"type": "Expression"
									},
									"AppClientId": {
										"value": "@pipeline().parameters.AppClientId",
										"type": "Expression"
									},
									"AppClientCode": {
										"value": "@pipeline().parameters.AppClientCode",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DataflowStaging_sql_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DataFlow Live Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DataFlow Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"DataflowSourceKey"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DataflowSourceKey",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowSourceKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataflowName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ConfiguredBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ConfiguredBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DataflowStaging_sql_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DataflowLive_sql_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DataFlow History",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DataFlow Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DataflowSourceKey",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowSourceKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataflowName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DataflowName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ConfiguredBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ConfiguredBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DataflowStaging_sql_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DataflowHistory_sql_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Sp_TrackProcessSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DataFlow Staging",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Capturing Dataflows Staging Status",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "DataFlow Live Data",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Capturing Dataflows Live Status",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "DataFlow History",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Capturing Dataflows History Status",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_ChildPipelineLog_Update]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogTrackerID": {
									"value": {
										"value": "@activity('Execute ChilsPipelineLog').output.firstRow.LogTrackerID",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@if(and(and(\nequals(variables('Dataflows staging Status'),'Succeeded'),\nequals(variables('Dataflows Live Status'),'Succeeded')),\nequals(variables('Dataflows History Status'),'Succeeded')),\n    'Succeeded','Failed')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Update_UATChildpipelineLogs",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_TrackProcessFailure",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogADF_PipelineExecution]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": null,
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"DataLoadTrackerID": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Capturing Dataflows Staging Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DataFlow Staging",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Dataflows Staging Status",
							"value": {
								"value": "@activity('DataFlow Staging').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing Dataflows Live Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DataFlow Live Data",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Dataflows Live Status",
							"value": {
								"value": "@activity('DataFlow Live Data').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing Dataflows History Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DataFlow History",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Dataflows History Status",
							"value": {
								"value": "@activity('DataFlow History').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Execute ChilsPipelineLog",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat (\n    'EXEC [dbo].[sp_ChildPipelineLog_Insert] ',\n    '''', 'Started', '''', ',',\n    '''', pipeline().Pipeline, '''', ',',\n    '''', pipeline().RunId, '''', ',',\n    '''', convertTimeZone(utcnow(),'UTC','India Standard Time'), '''', ',',\n    '''', '', '''', ',',\n    '''', pipeline().TriggerName, '''', ',',\n    '''', pipeline().TriggerType, '''', ',',\n    '''', pipeline().TriggerTime, '''', ',',\n    '''', ' ', '''', ',',\n    '''', pipeline().parameters.TenantId, '''', ',',\n    '''', ' ', '''', ',',\n    '''', ' ', ''''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Execute_UATChildpipelineLogs",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AppTenantId": {
						"type": "string"
					},
					"AppClientId": {
						"type": "string"
					},
					"AppClientCode": {
						"type": "string"
					},
					"TenantId": {
						"type": "int"
					}
				},
				"variables": {
					"DataFlows_Status": {
						"type": "String"
					},
					"DataFlows_StartTime": {
						"type": "String"
					},
					"DataFlows_EndTime": {
						"type": "String"
					},
					"DataFlows_IST": {
						"type": "String"
					},
					"DataFlows_IST2": {
						"type": "String"
					},
					"Dataflows Staging Status": {
						"type": "String"
					},
					"Dataflows Live Status": {
						"type": "String"
					},
					"Dataflows History Status": {
						"type": "String"
					},
					"DataflowRefreshes Status": {
						"type": "String"
					},
					"Get Dataflowsrefreshes Status": {
						"type": "String"
					},
					"Get Dataflowsrefreshes Batch": {
						"type": "String"
					},
					"DataflowRefreshes History Status": {
						"type": "String"
					},
					"Master Workspaces Status": {
						"type": "String"
					},
					"Master WorkSpaceUsers Status": {
						"type": "String"
					},
					"Master Report status": {
						"type": "String"
					},
					"Master ReportPages Status": {
						"type": "String"
					},
					"Master Datasets Status": {
						"type": "String"
					},
					"Master Datasetfreshes status": {
						"type": "String"
					},
					"Master Datasetusers Status": {
						"type": "String"
					},
					"Master Viewreports Status": {
						"type": "String"
					},
					"Master Dataflows Status": {
						"type": "String"
					},
					"Master DataflowRefreshes Status": {
						"type": "String"
					},
					"DataflowRefreshesLive Status": {
						"type": "String"
					}
				},
				"folder": {
					"name": "UAT_DailyScheduleChildPipelines"
				},
				"annotations": [],
				"lastPublishTime": "2023-11-29T05:26:21Z"
			},
			"dependsOn": []
		}
	]
}