ubtiPBIMonitor/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ubtiPBIMonitor"
		},
		"ADF_Pipeline_Status_Log_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ADF_Pipeline_Status_Log'"
		},
		"BaseURl_LS_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'BaseURl_LS'"
		},
		"Capacities_History_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Capacities_History'"
		},
		"LS_API_DemoWorkSpaceUsers_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'LS_API_DemoWorkSpaceUsers'"
		},
		"LS_API_Workspaces_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'LS_API_Workspaces'"
		},
		"LS_Dataloadtracker_SQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Dataloadtracker_SQL'"
		},
		"LS_SQL_DataFlowRefeshLive_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_DataFlowRefeshLive'"
		},
		"LS_SQL_DataFlowRefreshLive_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_DataFlowRefreshLive'"
		},
		"LS_SQL_DatasetRefreshesLive_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_DatasetRefreshesLive'"
		},
		"LS_SQL_DatasetRefreshesLive_Staging_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_DatasetRefreshesLive_Staging'"
		},
		"LS_SQL_DatasetUsersLive_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_DatasetUsersLive'"
		},
		"LS_SQL_DatasetUsers_Live_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_DatasetUsers_Live'"
		},
		"LS_SQL_DemoWorkSpaceUsers_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_DemoWorkSpaceUsers'"
		},
		"LS_SQL_DemoWorkspaces_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_DemoWorkspaces'"
		},
		"LS_SQL_ReportPagesLive_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_ReportPagesLive'"
		},
		"ADF_Pipeline_Status_Log_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"ADF_Pipeline_Status_Log_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"ADF_Pipeline_Status_Log_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"AzureKeyValut_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net/secrets/Test/2e40720515104f8f999ea62a40049e9b"
		},
		"AzureKeyVault2_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net/secrets/Test/2e40720515104f8f999ea62a40049e9b"
		},
		"AzureSQLCredentials_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net/"
		},
		"BaseURl_LS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.powerbi.com"
		},
		"BaseURl_LS_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"LS_API_DemoWorkSpaceUsers_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.powerbi.com/v1.0/myorg/admin/groups/',linkedService().WorkSpaceID,'/users')}"
		},
		"LS_API_DemoWorkSpaceUsers_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"LS_API_Workspaces_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.powerbi.com/v1.0/myorg/admin/groups?$expand=users&$top=2"
		},
		"LS_API_Workspaces_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"LS_Dataloadtracker_SQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"LS_Dataloadtracker_SQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"LS_Dataloadtracker_SQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"LS_SQL_DataFlowRefeshLive_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"LS_SQL_DataFlowRefeshLive_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"LS_SQL_DataFlowRefeshLive_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"LS_SQL_DataFlowRefreshLive_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"LS_SQL_DataFlowRefreshLive_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"LS_SQL_DataFlowRefreshLive_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"LS_SQL_DatasetRefreshesLive_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"LS_SQL_DatasetRefreshesLive_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"LS_SQL_DatasetRefreshesLive_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"LS_SQL_DatasetRefreshesLive_Staging_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"LS_SQL_DatasetRefreshesLive_Staging_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"LS_SQL_DatasetRefreshesLive_Staging_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"LS_SQL_DatasetUsersLive_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"LS_SQL_DatasetUsersLive_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"LS_SQL_DatasetUsersLive_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"LS_SQL_DatasetUsers_Live_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"LS_SQL_DatasetUsers_Live_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"LS_SQL_DatasetUsers_Live_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"LS_SQL_DemoWorkSpaceUsers_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"LS_SQL_DemoWorkSpaceUsers_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "pbimonitor"
		},
		"LS_SQL_DemoWorkSpaceUsers_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"LS_SQL_DemoWorkspaces_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"LS_SQL_DemoWorkspaces_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "pbimonitor"
		},
		"LS_SQL_DemoWorkspaces_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"LS_SQL_ReportPagesLive_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"LS_SQL_ReportPagesLive_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"LS_SQL_ReportPagesLive_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Test_variable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Wait2",
						"type": "Wait",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Wait3",
						"type": "Wait",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Wait1",
							"value": "[[object Object]"
						}
					},
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Wait2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Wait2",
							"value": {
								"value": "@activity('Wait2').Duration",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable3",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Wait3",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Wait3",
							"value": {
								"value": "@activity('Wait3').Duration",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Wait1": {
						"type": "String"
					},
					"Wait2": {
						"type": "String"
					},
					"Wait3": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_Pipeline_Status_Log')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ADF_Pipeline_Status_Log_properties_typeProperties_server')]",
					"database": "[parameters('ADF_Pipeline_Status_Log_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ADF_Pipeline_Status_Log_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ADF_Pipeline_Status_Log_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyValut')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyValut_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault2_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLCredentials')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureSQLCredentials_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BaseURl_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('BaseURl_LS_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('BaseURl_LS_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('BaseURl_LS_clientSecret')]"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Capacities_History')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Capacities_History_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_API_DemoWorkSpaceUsers')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"WorkSpaceID": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_API_DemoWorkSpaceUsers_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('LS_API_DemoWorkSpaceUsers_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('LS_API_DemoWorkSpaceUsers_clientSecret')]"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_API_Workspaces')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_API_Workspaces_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('LS_API_Workspaces_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('LS_API_Workspaces_clientSecret')]"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Dataloadtracker_SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_Dataloadtracker_SQL_properties_typeProperties_server')]",
					"database": "[parameters('LS_Dataloadtracker_SQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_Dataloadtracker_SQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Dataloadtracker_SQL_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_DataFlowRefeshLive')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_DataFlowRefeshLive_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_DataFlowRefeshLive_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_DataFlowRefeshLive_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_DataFlowRefeshLive_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_DataFlowRefreshLive')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_DataFlowRefreshLive_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_DataFlowRefreshLive_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_DataFlowRefreshLive_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_DataFlowRefreshLive_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_DatasetRefreshesLive')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_DatasetRefreshesLive_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_DatasetRefreshesLive_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_DatasetRefreshesLive_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_DatasetRefreshesLive_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_DatasetRefreshesLive_Staging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_DatasetRefreshesLive_Staging_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_DatasetRefreshesLive_Staging_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_DatasetRefreshesLive_Staging_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_DatasetRefreshesLive_Staging_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_DatasetUsersLive')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_DatasetUsersLive_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_DatasetUsersLive_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_DatasetUsersLive_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_DatasetUsersLive_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_DatasetUsers_Live')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_DatasetUsers_Live_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_DatasetUsers_Live_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_DatasetUsers_Live_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_DatasetUsers_Live_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_DemoWorkSpaceUsers')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_DemoWorkSpaceUsers_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_DemoWorkSpaceUsers_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_DemoWorkSpaceUsers_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_DemoWorkSpaceUsers_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_DemoWorkspaces')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_DemoWorkspaces_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_DemoWorkspaces_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_DemoWorkspaces_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_DemoWorkspaces_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_ReportPagesLive')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_ReportPagesLive_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_ReportPagesLive_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_ReportPagesLive_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_ReportPagesLive_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}