ubtiPBIMonitor/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ubtiPBIMonitor"
		},
		"ADF_Pipeline_Status_Log_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ADF_Pipeline_Status_Log'"
		},
		"BaseURl_LS_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'BaseURl_LS'"
		},
		"Capacities_History_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Capacities_History'"
		},
		"CaptureCI_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'CaptureCI'"
		},
		"Capture_ClientInformation_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Capture_ClientInformation'"
		},
		"Capture_WorkSpacelive_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Capture_WorkSpacelive_UAT'"
		},
		"Capturing Error Message_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Capturing Error Message'"
		},
		"Capturing_ClientInfromation_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Capturing_ClientInfromation'"
		},
		"Capturing_Report_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Capturing_Report_UAT'"
		},
		"DB_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DB_UAT'"
		},
		"DS_Insert stored Procedure__password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DS_Insert stored Procedure_'"
		},
		"DS_InsertMasterlog_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DS_InsertMasterlog_UAT'"
		},
		"DS_InsertSP_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DS_InsertSP'"
		},
		"DS_WorkspaceUsersHistory_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DS_WorkspaceUsersHistory'"
		},
		"ADF_Pipeline_Status_Log_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"ADF_Pipeline_Status_Log_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"ADF_Pipeline_Status_Log_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"AzureKeyValut_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net/secrets/Test/2e40720515104f8f999ea62a40049e9b"
		},
		"AzureKeyVault2_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net/secrets/Test/2e40720515104f8f999ea62a40049e9b"
		},
		"AzureSQLCredentials_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net/"
		},
		"BaseURl_LS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.powerbi.com"
		},
		"BaseURl_LS_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"CaptureCI_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"CaptureCI_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"CaptureCI_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"Capture_ClientInformation_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"Capture_ClientInformation_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"Capture_ClientInformation_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"Capture_WorkSpacelive_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"Capture_WorkSpacelive_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"Capture_WorkSpacelive_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"Capturing Error Message_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"Capturing Error Message_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"Capturing Error Message_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"Capturing_ClientInfromation_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"Capturing_ClientInfromation_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"Capturing_ClientInfromation_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"Capturing_Report_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"Capturing_Report_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"Capturing_Report_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DB_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DB_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DB_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DS_Insert stored Procedure__properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DS_Insert stored Procedure__properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"DS_Insert stored Procedure__properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DS_InsertMasterlog_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DS_InsertMasterlog_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DS_InsertMasterlog_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DS_InsertSP_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DS_InsertSP_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"DS_InsertSP_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DS_WorkspaceUsersHistory_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DS_WorkspaceUsersHistory_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DS_WorkspaceUsersHistory_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_Refreshing User Permissions_UAT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Capturing Access_token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"url": {
								"value": "@{concat('https://login.microsoftonline.com/',pipeline().parameters.AppTenantId,'/oauth2/v2.0/token')}",
								"type": "Expression"
							},
							"body": {
								"value": "grant_type=client_credentials&client_id=@{pipeline().parameters.AppClientId}&client_secret=@{pipeline().parameters.AppClientCode}&scope=https://analysis.windows.net/powerbi/api/.default",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Refresh UserPermissions",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Capturing Access_token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ', activity('Capturing Access_token').output.access_token)",
									"type": "Expression"
								}
							},
							"url": {
								"value": "https://api.powerbi.com/v1.0/myorg/RefreshUserPermissions",
								"type": "Expression"
							},
							"body": {
								"value": "{}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AppTenantId": {
						"type": "string"
					},
					"AppClientId": {
						"type": "string"
					},
					"AppClientCode": {
						"type": "string"
					}
				},
				"variables": {
					"Access_Token": {
						"type": "String"
					}
				},
				"folder": {
					"name": "UAT_DailyScheduleChildPipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('Testing'),['done'])",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Testing",
										"value": "[['done']"
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Testing": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_Pipeline_Status_Log')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ADF_Pipeline_Status_Log_properties_typeProperties_server')]",
					"database": "[parameters('ADF_Pipeline_Status_Log_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ADF_Pipeline_Status_Log_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ADF_Pipeline_Status_Log_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyValut')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyValut_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault2_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLCredentials')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureSQLCredentials_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BaseURl_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('BaseURl_LS_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('BaseURl_LS_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('BaseURl_LS_clientSecret')]"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Capacities_History')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Capacities_History_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CaptureCI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "CaptureCI",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('CaptureCI_properties_typeProperties_server')]",
					"database": "[parameters('CaptureCI_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('CaptureCI_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('CaptureCI_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Capture_ClientInformation')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Capture_ClientInformation",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Capture_ClientInformation_properties_typeProperties_server')]",
					"database": "[parameters('Capture_ClientInformation_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Capture_ClientInformation_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Capture_ClientInformation_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Capture_WorkSpacelive_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Capture_WorkSpacelive_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Capture_WorkSpacelive_UAT_properties_typeProperties_server')]",
					"database": "[parameters('Capture_WorkSpacelive_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Capture_WorkSpacelive_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Capture_WorkSpacelive_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Capturing Error Message')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Capturing Error Message",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Capturing Error Message_properties_typeProperties_server')]",
					"database": "[parameters('Capturing Error Message_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Capturing Error Message_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Capturing Error Message_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Capturing_ClientInfromation')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Capturing_ClientInfromation",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Capturing_ClientInfromation_properties_typeProperties_server')]",
					"database": "[parameters('Capturing_ClientInfromation_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Capturing_ClientInfromation_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Capturing_ClientInfromation_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Capturing_Report_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Capturing_Report_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Capturing_Report_UAT_properties_typeProperties_server')]",
					"database": "[parameters('Capturing_Report_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Capturing_Report_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Capturing_Report_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DB_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DB_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DB_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DB_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DB_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Insert stored Procedure_')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DS_Insert stored Procedure__properties_typeProperties_server')]",
					"database": "[parameters('DS_Insert stored Procedure__properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DS_Insert stored Procedure__properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DS_Insert stored Procedure__password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_InsertMasterlog_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DS_InsertMasterlog_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DS_InsertMasterlog_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DS_InsertMasterlog_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DS_InsertMasterlog_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DS_InsertMasterlog_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_InsertSP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DS_InsertSP_properties_typeProperties_server')]",
					"database": "[parameters('DS_InsertSP_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DS_InsertSP_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DS_InsertSP_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_WorkspaceUsersHistory')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DS_WorkspaceUsersHistory",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DS_WorkspaceUsersHistory_properties_typeProperties_server')]",
					"database": "[parameters('DS_WorkspaceUsersHistory_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DS_WorkspaceUsersHistory_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DS_WorkspaceUsersHistory_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}