ubtiPBIMonitor/linkedTemplates/ArmTemplate_16.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ubtiPBIMonitor"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ReportPages_Batch')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get ReportPages in Batches",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Execute ChildPipelineLog",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT BatchNo \nFROM [dbo].[Reports_batch]\nORDER BY 1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Reports_SQL",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Batch",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Truncate ReportPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get ReportPages in Batches').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Pipeline ReportPages",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ReportPages",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AppTenantId": {
												"value": "@pipeline().parameters.AppTenantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@pipeline().parameters.AppClientId",
												"type": "Expression"
											},
											"AppClientCode": {
												"value": "@pipeline().parameters.AppClientCode",
												"type": "Expression"
											},
											"TenantId": {
												"value": "@pipeline().parameters.TenantId",
												"type": "Expression"
											},
											"BatchNo": {
												"value": "@item().BatchNo",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncate ReportPages",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Get ReportPages in Batches",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "getgroups_sql_ls",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE[dbo].[ReportPages_Staging];"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ReportPages History",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "For Each Batch",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ReportID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ReportPageName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ReportPageName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ReportPageDisplayName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ReportPageDisplayName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "report_order",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "report_order",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ReportPages_SQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ReportPages_SQL_History",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Capturing ReportPages History Status",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ReportPages History",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ReportPages History Status",
							"value": {
								"value": "@activity('ReportPages History').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing ReportPages Batches Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get ReportPages in Batches",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ReportPages Batch Status",
							"value": {
								"value": "@activity('Get ReportPages in Batches').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Execute ChildPipelineLog",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat (\n    'EXEC [dbo].[sp_ChildPipelineLog_Insert] ',\n    '''', 'Started', '''', ',',\n    '''', pipeline().Pipeline, '''', ',',\n    '''', pipeline().RunId, '''', ',',\n    '''', convertTimeZone(utcnow(),'UTC','India Standard Time'), '''', ',',\n    '''', '', '''', ',',\n    '''', pipeline().TriggerName, '''', ',',\n    '''', pipeline().TriggerType, '''', ',',\n    '''', pipeline().TriggerTime, '''', ',',\n    '''', ' ', '''', ',',\n    '''', pipeline().parameters.TenantId, '''', ',',\n    '''', ' ', '''', ',',\n    '''', ' ', ''''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Execute_ChildPipelineLogs",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "sp_TrackProcessSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Capturing ReportPages History Status",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "ReportPages History",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Capturing ReportPages Batches Status",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_ChildPipelineLog_Update]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogTrackerID": {
									"value": {
										"value": "@activity('Execute ChildPipelineLog').output.firstRow.LogTrackerID",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@if(and(and(and(and(\nequals(variables('Get ReportPage Status'),'Succeeded'),\nequals(variables('ReportPage Staging Status'),'Succeeded')),\nequals(variables('ReportPages Live Status'),'Succeeded')),\nequals(variables('ReportPages Batch Status'),'Succeeded')),\nequals(variables('ReportPages History Status'),'Succeeded')),\n'Succeeded','Failed')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AppTenantId": {
						"type": "string"
					},
					"AppClientId": {
						"type": "string"
					},
					"AppClientCode": {
						"type": "string"
					},
					"TenantId": {
						"type": "string"
					}
				},
				"variables": {
					"CountWorkspace": {
						"type": "Integer"
					},
					"ReportPages Batch Status": {
						"type": "String"
					},
					"ReportPages History Status": {
						"type": "String"
					},
					"DatasetUsers Staging Status": {
						"type": "String"
					},
					"DatasetUsers Live Status": {
						"type": "String"
					},
					"Datasets Batches Status": {
						"type": "String"
					},
					"DatasetUsers History Status": {
						"type": "String"
					},
					"Get Datasets Status": {
						"type": "String"
					},
					"Dataset staging Status": {
						"type": "String"
					},
					"Dataset Live Status": {
						"type": "String"
					},
					"Dataset History Status": {
						"type": "String"
					},
					"Get DatasetRefreshes Status": {
						"type": "String"
					},
					"Get DatasetsRefreshes Batch Status": {
						"type": "String"
					},
					"DatasetRefreshes History Status": {
						"type": "String"
					},
					"Dataflows Staging Status": {
						"type": "String"
					},
					"Dataflows Live Status": {
						"type": "String"
					},
					"Dataflows History Status": {
						"type": "String"
					},
					"DataflowRefreshes Status": {
						"type": "String"
					},
					"Get Dataflowsrefreshes Status": {
						"type": "String"
					},
					"Get Dataflowsrefreshes Batch": {
						"type": "String"
					},
					"DataflowRefreshes History Status": {
						"type": "String"
					},
					"Master Workspaces Status": {
						"type": "String"
					},
					"Master WorkSpaceUsers Status": {
						"type": "String"
					},
					"Master Report status": {
						"type": "String"
					},
					"Master ReportPages Status": {
						"type": "String"
					},
					"Master Datasets Status": {
						"type": "String"
					},
					"Master Datasetfreshes status": {
						"type": "String"
					},
					"Master Datasetusers Status": {
						"type": "String"
					},
					"Master Viewreports Status": {
						"type": "String"
					},
					"Master Dataflows Status": {
						"type": "String"
					},
					"Master DataflowRefreshes Status": {
						"type": "String"
					},
					"Get ReportPage Status": {
						"type": "String"
					},
					"ReportPage Staging Status": {
						"type": "String"
					},
					"ReportPages Live Status": {
						"type": "String"
					},
					"DatasetUser Staging Status": {
						"type": "String"
					},
					"DatasetUser Live Status": {
						"type": "String"
					},
					"Get DatasetRefreshes_ Status": {
						"type": "String"
					},
					"Get DatasetRefreshe Status": {
						"type": "String"
					},
					"Get DatasetsRefreshes Status": {
						"type": "String"
					},
					"DataflowRefreshesLive Status": {
						"type": "String"
					}
				},
				"folder": {
					"name": "UBTI_Dev"
				},
				"annotations": [],
				"lastPublishTime": "2023-11-29T06:27:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ReportPages_Batch_Tenant2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get ReportPages in Batches",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT BatchNo \nFROM [dbo].[Reports_batch]\nORDER BY 1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Reports_SQL",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Batch",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Truncate ReportPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get ReportPages in Batches').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Pipeline ReportPages",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ReportPages_Tenant2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchNo": {
												"value": "@item().BatchNo",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncate ReportPages",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get ReportPages in Batches",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "getgroups_sql_ls",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE [dbo].[ReportPages];"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ReportPages History",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "For Each Batch",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ReportID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WorkSpaceID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ReportPageName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ReportPageName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ReportPageDisplayName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ReportPageDisplayName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "report_order",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "report_order",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TenantId",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ReportPages_SQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ReportPages_SQL_History",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"CountWorkspace": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "PowerPulseApp_Dev"
				},
				"annotations": [],
				"lastPublishTime": "2023-11-29T06:27:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WorkspaceUsers_RunStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute_WorkspacesUsers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WorkSpacesUsers_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "sp_TrackProcessSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute_WorkspacesUsers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogADF_PipelineExecution]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@activity('Execute_WorkspacesUsers').output",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "@activity('Execute_WorkspacesUsers').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_TrackProcessFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute_WorkspacesUsers",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogADF_PipelineExecution]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('Execute_WorkspacesUsers').error?.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "@activity('Execute_WorkspacesUsers').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "UBTI_DEV RunStatus"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_adf_orchestration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Retrieve_Client_Value",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select TenantId,AppClientId,AppTenantId,AppClientSecret,CreatedAt from [dbo].[ClientInformation] \nORDER BY CreatedAt DESC\nOFFSET 0 ROWS FETCH NEXT 1 ROW \nONLY;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Azure_Sql",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "IterateClientValue",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "RetrieveClientValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('RetrieveClientValue').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "ExecutePipelineTestWorkspace",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "WorkSpaces_Tenant2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"TenantId": {
												"value": "@item().TenantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@item().AppClientId",
												"type": "Expression"
											},
											"AppTenantId": {
												"value": "@item().AppTenantId",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "RetrieveClientValue",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select TenantId,AppClientId,AppTenantId,AppClientSecret,CreatedAt from [dbo].[ClientInformation] \nORDER BY CreatedAt DESC\nOFFSET 0 ROWS FETCH NEXT 1 ROW \nONLY;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "RetriveClientInformation",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"clientID": {
						"type": "String"
					},
					"PipelinesStatus": {
						"type": "String"
					},
					"PipelineStartTime": {
						"type": "String"
					},
					"PipelineEndTime": {
						"type": "String"
					},
					"AppClientId": {
						"type": "String"
					}
				},
				"folder": {
					"name": "UBTI_DEV RunStatus"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DailyScheduleMasterPipeline_V1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup the ClientInformation for DailySchedule Pipeline",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select AppTentantId,AppClientId,AppClientSecret,TentantId from [dbo].[DataLoadTracker]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_lookupClientInformation",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Capturing ClientInformation",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup the ClientInformation for DailySchedule Pipeline",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup the ClientInformation for DailySchedule Pipeline').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 50,
							"activities": [
								{
									"name": "DS_Workspaces_Master",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "DS_Insert Log",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DS_WorkSpaces",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AppTenantId": {
												"value": "@item().AppTentantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@item().AppClientId",
												"type": "Expression"
											},
											"AppClientCode": {
												"value": "@item().AppClientSecret",
												"type": "Expression"
											},
											"TenantId": {
												"value": "@item().TentantId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "DS_Capturing Workspaces_Master status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DS_Workspaces_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master Workspaces Status",
										"value": {
											"value": "@activity('DS_Workspaces_Master').Status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "DS_WorkspaceUsers__Master",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Wait1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DS_WorkSpacesUsers_Batch",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AppTenantId": {
												"value": "@item().AppTentantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@item().AppClientId",
												"type": "Expression"
											},
											"AppClientCode": {
												"value": "@item().AppClientSecret",
												"type": "Expression"
											},
											"TenantId": {
												"value": "@item().TentantId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "DS_Capturing WorkSpaceUsers Master Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DS_WorkspaceUsers__Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master WorkSpaceUsers Status",
										"value": {
											"value": "@activity('DS_WorkspaceUsers__Master').Status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "DS_Reports_Master",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "DS_Workspaces_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DS_Reports",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AppTenantId": {
												"value": "@item().AppTentantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@item().AppClientId",
												"type": "Expression"
											},
											"AppClientCode": {
												"value": "@item().AppClientSecret",
												"type": "Expression"
											},
											"TenantId": {
												"value": "@item().TentantId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "DS_Capturing ReportsMaster status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DS_Reports_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master Report status",
										"value": {
											"value": "@activity('DS_Reports_Master').Status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "DS_ReportPages_Master",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "DS_Reports_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DS_ReportPages_Batch",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AppTenantId": {
												"value": "@item().AppTentantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@item().AppClientId",
												"type": "Expression"
											},
											"AppClientCode": {
												"value": "@item().AppClientSecret",
												"type": "Expression"
											},
											"TenantId": {
												"value": "@item().TentantId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "DS_Capturing ReportPagesMaster Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DS_ReportPages_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master ReportPages Status",
										"value": {
											"value": "@activity('DS_ReportPages_Master').Status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "DS_Datasets_Master",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "DS_Workspaces_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DS_Datasets",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AppTenantId": {
												"value": "@item().AppTentantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@item().AppClientId",
												"type": "Expression"
											},
											"AppClientCode": {
												"value": "@item().AppClientSecret",
												"type": "Expression"
											},
											"TenantId": {
												"value": "@item().TentantId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "DS_Capturing Datasets Master Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DS_Datasets_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master Datasets Status",
										"value": {
											"value": "@activity('DS_Datasets_Master').Status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "DS_Datasetusers_Master",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "DS_Datasets_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DS_DatasetUsers_Batch",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AppTenantId": {
												"value": "@item().AppTentantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@item().AppClientId",
												"type": "Expression"
											},
											"AppClientCode": {
												"value": "@item().AppClientSecret",
												"type": "Expression"
											},
											"TenantId": {
												"value": "@item().TentantId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "DS_Capturing DatasetUsersMaster Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DS_Datasetusers_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master Datasetusers Status",
										"value": {
											"value": "@activity('DS_Datasetusers_Master').Status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "DS_Datasetrefresh_Master",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "DS_Datasets_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DS_DatasetRefreshes_Batch",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AppTenantId": {
												"value": "@item().AppTentantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@item().AppClientId",
												"type": "Expression"
											},
											"AppClientCode": {
												"value": "@item().AppClientSecret",
												"type": "Expression"
											},
											"TenantId": {
												"value": "@item().TentantId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "DS_Capturing Datasetsrefresh Master Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DS_Datasetrefresh_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master Datasetfreshes status",
										"value": {
											"value": "@activity('DS_Datasetrefresh_Master').Status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "DS_ViewReports_Master",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "DS_Workspaces_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DS_ViewReports",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"AppTenantId": {
												"value": "@item().AppTentantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@item().AppClientId",
												"type": "Expression"
											},
											"AppClientCode": {
												"value": "@item().AppClientSecret",
												"type": "Expression"
											},
											"TenantId": {
												"value": "@item().TentantId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "DS_Capturing Viewreports Master Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DS_ViewReports_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master Viewreports Status",
										"value": {
											"value": "@activity('DS_ViewReports_Master').Status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "DS_Dataflows_Master",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "DS_Workspaces_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DS_DataFlows",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"AppTenantId": {
												"value": "@item().AppTentantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@item().AppClientId",
												"type": "Expression"
											},
											"AppClientCode": {
												"value": "@item().AppClientSecret",
												"type": "Expression"
											},
											"TenantId": {
												"value": "@item().TentantId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "DS_Capturing Dataflows Master Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DS_Dataflows_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master Dataflows Status",
										"value": {
											"value": "@activity('DS_Dataflows_Master').Status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "DS_DataflowRefreshes_Master",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "DS_Dataflows_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DS_DataFlowRefreshes_Batch",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AppTenantId": {
												"value": "@item().AppTentantId",
												"type": "Expression"
											},
											"AppClientId": {
												"value": "@item().AppClientId",
												"type": "Expression"
											},
											"AppClientCode": {
												"value": "@item().AppClientSecret",
												"type": "Expression"
											},
											"TenantId": {
												"value": "@item().TentantId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "DS_Capturing DataflowsRefreshes Master Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DS_DataflowRefreshes_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master DataflowRefreshes Status",
										"value": {
											"value": "@activity('DS_DataflowRefreshes_Master').Status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "DS_sp_Dataloadtracker",
									"type": "SqlServerStoredProcedure",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[DataLoadTrack_Insert]",
										"storedProcedureParameters": {
											"AppClientId": {
												"value": {
													"value": "@item().AppClientId",
													"type": "Expression"
												},
												"type": "String"
											},
											"AppClientSecret": {
												"value": {
													"value": "@item().AppClientSecret",
													"type": "Expression"
												},
												"type": "String"
											},
											"AppTentantId": {
												"value": {
													"value": "@item().AppTentantId",
													"type": "Expression"
												},
												"type": "String"
											},
											"CreatedDate": {
												"value": "",
												"type": "DateTime"
											},
											"CurrentStatus": {
												"value": "Started",
												"type": "String"
											},
											"DataLoadTrackerId": {
												"value": "",
												"type": "String"
											},
											"IsFirstTimeLoad": {
												"value": "",
												"type": "Boolean"
											},
											"ModifiedDate": {
												"value": "",
												"type": "DateTime"
											},
											"PipelineRunId": {
												"value": "",
												"type": "String"
											},
											"ProcessEndTime": {
												"value": "",
												"type": "DateTime"
											},
											"ProcessStartTime": {
												"value": "",
												"type": "DateTime"
											},
											"Status": {
												"value": "",
												"type": "String"
											},
											"TentantId": {
												"value": "",
												"type": "Int32"
											},
											"TriggerType": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Dataloadtracker_SQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "DS_Insert Log",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC [dbo].[DS_DataLoadTrackInsert] ','''',item().AppTentantId,''',''',item().AppClientId,''',''',item().AppClientSecret,''',''',pipeline().RunId,''',''',utcNow(),''','' '',','''Started'',','''Started'',','''True'',','''Application'',', '''',utcNow(),''',',''' '',','''',string(item().TentantId),''','' ''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_InsertSP",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "DS_SP_Call_UpdateStatus",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DS_Capturing DatasetUsersMaster Status",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "DS_Capturing Datasetsrefresh Master Status",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "DS_Capturing DataflowsRefreshes Master Status",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "DS_Capturing Viewreports Master Status",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "DS_Capturing Dataflows Master Status",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "DS_Capturing Datasets Master Status",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "DS_Capturing ReportPagesMaster Status",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "DS_Capturing ReportsMaster status",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[DS_DataLoadTrack_Update]",
										"storedProcedureParameters": {
											"DataLoadTrackerID": {
												"value": {
													"value": "@activity('DS_Insert Log').output.firstRow.DataLoadTrackerId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessEndTime": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"Status": {
												"value": {
													"value": "@if(and(and(and(and(and(and(and(and(and(\nequals(variables('Master Workspaces Status'),'Succeeded'),\nequals(variables('Master WorkSpaceUsers Status'),'Succeeded')),\nequals(variables('Master Report status'),'Succeeded')),\nequals(variables('Master ReportPages Status'),'Succeeded')),\nequals(variables('Master Datasets Status'),'Succeeded')),\nequals(variables('Master Datasetusers Status'),'Succeeded')),\nequals(variables('Master Datasetfreshes status'),'Succeeded')),\nequals(variables('Master Dataflows Status'),'Succeeded')),\nequals(variables('Master DataflowRefreshes Status'),'Succeeded')),\nequals(variables('Master Viewreports Status'),'Succeeded')),\n'Succeeded','Failed')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DS_updateLog_SP",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "DS_Workspaces_Master",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 50
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"InProgress Status": {
						"type": "String",
						"defaultValue": "InProgress"
					},
					"LogID": {
						"type": "Integer"
					},
					"Result": {
						"type": "String",
						"defaultValue": "Success"
					},
					"a": {
						"type": "String"
					},
					"Master Workspaces Status": {
						"type": "String"
					},
					"Master WorkSpaceUsers Status": {
						"type": "String"
					},
					"Master Report status": {
						"type": "String"
					},
					"Master ReportPages Status": {
						"type": "String"
					},
					"Master Datasets Status": {
						"type": "String"
					},
					"Master Datasetfreshes status": {
						"type": "String"
					},
					"Master Datasetusers Status": {
						"type": "String"
					},
					"Master Viewreports Status": {
						"type": "String"
					},
					"Master Dataflows Status": {
						"type": "String"
					},
					"Master DataflowRefreshes Status": {
						"type": "String"
					},
					"DataflowRefreshes Status": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DailyScheduleMasterPipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FirstTimeLoadMasterPipeline_UAT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Workspaces_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_SP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WorkSpaces_UAT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"AppTenantId": {
									"value": "@pipeline().parameters.AppTenantId",
									"type": "Expression"
								},
								"AppClientId": {
									"value": "@pipeline().parameters.AppClientId",
									"type": "Expression"
								},
								"AppClientCode": {
									"value": "@pipeline().parameters.AppClientCode",
									"type": "Expression"
								},
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Reports_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_SP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Reports_UAT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"AppTenantId": {
									"value": "@pipeline().parameters.AppTenantId",
									"type": "Expression"
								},
								"AppClientId": {
									"value": "@pipeline().parameters.AppClientId",
									"type": "Expression"
								},
								"AppClientCode": {
									"value": "@pipeline().parameters.AppClientCode",
									"type": "Expression"
								},
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ReportPages_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ReportPages_Batch_UAT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"AppTenantId": {
									"value": "@pipeline().parameters.AppTenantId",
									"type": "Expression"
								},
								"AppClientId": {
									"value": "@pipeline().parameters.AppClientId",
									"type": "Expression"
								},
								"AppClientCode": {
									"value": "@pipeline().parameters.AppClientCode",
									"type": "Expression"
								},
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Datasets_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_SP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Datasets_UAT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"AppTenantId": {
									"value": "@pipeline().parameters.AppTenantId",
									"type": "Expression"
								},
								"AppClientId": {
									"value": "@pipeline().parameters.AppClientId",
									"type": "Expression"
								},
								"AppClientCode": {
									"value": "@pipeline().parameters.AppClientCode",
									"type": "Expression"
								},
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Datasetusers_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DatasetUsers_Batch_UAT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"AppTenantId": {
									"value": "@pipeline().parameters.AppTenantId",
									"type": "Expression"
								},
								"AppClientId": {
									"value": "@pipeline().parameters.AppClientId",
									"type": "Expression"
								},
								"AppClientCode": {
									"value": "@pipeline().parameters.AppClientCode",
									"type": "Expression"
								},
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Dataflows_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_SP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataFlows_UAT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"AppTenantId": {
									"value": "@pipeline().parameters.AppTenantId",
									"type": "Expression"
								},
								"AppClientId": {
									"value": "@pipeline().parameters.AppClientId",
									"type": "Expression"
								},
								"AppClientCode": {
									"value": "@pipeline().parameters.AppClientCode",
									"type": "Expression"
								},
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Datasetrefresh_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DatasetRefreshes_Batch_UAT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"AppTenantId": {
									"value": "@pipeline().parameters.AppTenantId",
									"type": "Expression"
								},
								"AppClientId": {
									"value": "@pipeline().parameters.AppClientId",
									"type": "Expression"
								},
								"AppClientCode": {
									"value": "@pipeline().parameters.AppClientCode",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DataflowRefreshes_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Dataflows_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataFlowRefreshes_Batch_UAT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"AppTenantId": {
									"value": "@pipeline().parameters.AppTenantId",
									"type": "Expression"
								},
								"AppClientId": {
									"value": "@pipeline().parameters.AppClientId",
									"type": "Expression"
								},
								"AppClientCode": {
									"value": "@pipeline().parameters.AppClientCode",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "sp_Dataloadtracker",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DataLoadTrack_Insert]",
							"storedProcedureParameters": {
								"AppClientId": {
									"value": {
										"value": "@pipeline().parameters.AppClientId",
										"type": "Expression"
									},
									"type": "String"
								},
								"AppClientSecret": {
									"value": {
										"value": "@pipeline().parameters.AppClientCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"AppTentantId": {
									"value": {
										"value": "@pipeline().parameters.AppTenantId",
										"type": "Expression"
									},
									"type": "String"
								},
								"CreatedDate": {
									"value": "",
									"type": "DateTime"
								},
								"CurrentStatus": {
									"value": "Started",
									"type": "String"
								},
								"DataLoadTrackerId": {
									"value": "",
									"type": "String"
								},
								"IsFirstTimeLoad": {
									"value": "",
									"type": "Boolean"
								},
								"ModifiedDate": {
									"value": "",
									"type": "DateTime"
								},
								"PipelineRunId": {
									"value": "",
									"type": "String"
								},
								"ProcessEndTime": {
									"value": "",
									"type": "DateTime"
								},
								"ProcessStartTime": {
									"value": "",
									"type": "DateTime"
								},
								"Status": {
									"value": "",
									"type": "String"
								},
								"TentantId": {
									"value": "",
									"type": "Int32"
								},
								"TriggerType": {
									"value": "",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_Dataloadtracker_SQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ViewReports_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_SP",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ViewReports_UAT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"AppTenantId": {
									"value": "@pipeline().parameters.AppTenantId",
									"type": "Expression"
								},
								"AppClientId": {
									"value": "@pipeline().parameters.AppClientId",
									"type": "Expression"
								},
								"AppClientCode": {
									"value": "@pipeline().parameters.AppClientCode",
									"type": "Expression"
								},
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "WorkspaceUsers__Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WorkSpacesUsers_Batch_UAT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"AppTenantId": {
									"value": "@pipeline().parameters.AppTenantId",
									"type": "Expression"
								},
								"AppClientId": {
									"value": "@pipeline().parameters.AppClientId",
									"type": "Expression"
								},
								"AppClientCode": {
									"value": "@pipeline().parameters.AppClientCode",
									"type": "Expression"
								},
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Capturing Workspaces_Master status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Master Workspaces Status",
							"value": {
								"value": "@activity('Workspaces_Master').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing Datasetsrefresh Master Status",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Datasetrefresh_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Master Datasetfreshes status",
							"value": {
								"value": "@activity('Datasetrefresh_Master').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing Dataflows Master Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Dataflows_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Master Dataflows Status",
							"value": {
								"value": "@activity('Dataflows_Master').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing Datasets Master Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Master Datasets Status",
							"value": {
								"value": "@activity('Datasets_Master').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing ReportsMaster status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Reports_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Master Report status",
							"value": {
								"value": "@activity('Reports_Master').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SP_Call_UpdateStatus",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Capturing Workspaces_Master status",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Capturing WorkSpaceUsers Master Status",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "ViewReports_Master",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Reports_Master",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "ReportPages_Master",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Capturing ReportsMaster status",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Datasetusers_Master",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Capturing Datasets Master Status",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Dataflows_Master",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "WorkspaceUsers__Master",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Capturing Dataflows Master Status",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DataLoadTrack_Update]",
							"storedProcedureParameters": {
								"DataLoadTrackerID": {
									"value": {
										"value": "@activity('Execute_SP').output.firstRow.DataLoadTrackerId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ProcessEndTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "@if(and(and(and(and(and(and(and(and(and(\nequals(variables('Master Workspaces Status'),'Succeeded'),\nequals(variables('Master WorkSpaceUsers Status'),'Succeeded')),\nequals(variables('Master Report status'),'Succeeded')),\nequals(variables('Master ReportPages Status'),'Succeeded')),\nequals(variables('Master Datasets Status'),'Succeeded')),\nequals(variables('Master Datasetusers Status'),'Succeeded')),\nequals(variables('Master Datasetfreshes status'),'Succeeded')),\nequals(variables('Master Dataflows Status'),'Succeeded')),\nequals(variables('Master DataflowRefreshes Status'),'Succeeded')),\nequals(variables('Master Viewreports Status'),'Succeeded')),\n'Succeeded','Success')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_Dataloadtracker_Sql_UAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Execute_SP",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('EXEC [dbo].[DataLoadTrack_Insert] ','''',pipeline().parameters.AppTenantId,''',''',pipeline().parameters.AppClientId,''',''',pipeline().parameters.AppClientCode,''',''',pipeline().RunId,''',''',utcNow(),''','' '',','''Started'',','''Started'',','''True'',','''Application'',', '''',utcNow(),''',',''' '',','''',string(pipeline().parameters.TenantId),''','' ''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "LS_ExecuteSP_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Capturing WorkSpaceUsers Master Status",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "WorkspaceUsers__Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Master WorkSpaceUsers Status",
							"value": {
								"value": "@activity('WorkspaceUsers__Master').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing ReportPagesMaster Status",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ReportPages_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Master ReportPages Status",
							"value": {
								"value": "@activity('ReportPages_Master').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing DatasetUsersMaster Status",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Datasetusers_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Master Datasetusers Status",
							"value": {
								"value": "@activity('Datasetusers_Master').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing Viewreports Master Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ViewReports_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Master Viewreports Status",
							"value": {
								"value": "@activity('ViewReports_Master').Status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Capturing DataflowsRefreshes Master Status",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "DataflowRefreshes_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Master DataflowRefreshes Status",
							"value": {
								"value": "@activity('DataflowRefreshes_Master').Status",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AppTenantId": {
						"type": "string"
					},
					"AppClientId": {
						"type": "string"
					},
					"AppClientCode": {
						"type": "string"
					},
					"TenantId": {
						"type": "int"
					}
				},
				"variables": {
					"InProgress Status": {
						"type": "String",
						"defaultValue": "InProgress"
					},
					"LogID": {
						"type": "Integer"
					},
					"Result": {
						"type": "String",
						"defaultValue": "Success"
					},
					"a": {
						"type": "String"
					},
					"Master Workspaces Status": {
						"type": "String"
					},
					"Master WorkSpaceUsers Status": {
						"type": "String"
					},
					"Master Report status": {
						"type": "String"
					},
					"Master ReportPages Status": {
						"type": "String"
					},
					"Master Datasets Status": {
						"type": "String"
					},
					"Master Datasetfreshes status": {
						"type": "String"
					},
					"Master Datasetusers Status": {
						"type": "String"
					},
					"Master Viewreports Status": {
						"type": "String"
					},
					"Master Dataflows Status": {
						"type": "String"
					},
					"Master DataflowRefreshes Status": {
						"type": "String"
					}
				},
				"folder": {
					"name": "UBTI_UAT Master"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FirstTimeLoadMasterPipelinesExecution')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Workspaces_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Capturing LogID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WorkSpaces",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								},
								"ClientId": {
									"value": "@pipeline().parameters.ClientId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Reports_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Reports",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "ReportPages_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Reports_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ReportPages_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Datasets_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Datasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Datasetusers_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DatasetUsers_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Dataflows_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataFlows",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Datasetrefresh_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DatasetRefreshes_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DataflowRefreshes_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Dataflows_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataFlowRefreshes_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stored Precodure_startPipelineExecution",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_StartPipelineExecution]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunningStatus": {
									"value": "False",
									"type": "Boolean"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TenantId": {
									"value": {
										"value": "@pipeline().parameters.TenantId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Capturing LogID",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Stored Precodure_startPipelineExecution",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Stored procedure_UpdatePIpelineExecution",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ReportPages_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Datasetrefresh_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Datasetusers_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DataflowRefreshes_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_UpdatePipelineExecutionStatus]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogID": {
									"value": {
										"value": "@activity('Capturing LogID').output.count",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunningStatus": {
									"value": "True",
									"type": "Boolean"
								},
								"Status": {
									"value": "Success",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ViewReports_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ViewReports",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WorkspaceUsers__Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WorkSpacesUsers_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ClientId": {
						"type": "String",
						"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
					},
					"TenantId": {
						"type": "String",
						"defaultValue": "008502d6-3f79-46f0-ab37-9354e3fe80ff"
					},
					"AZSecretName": {
						"type": "String",
						"defaultValue": "UBTIClientSecretName"
					}
				},
				"variables": {
					"InProgress Status": {
						"type": "String",
						"defaultValue": "InProgress"
					},
					"LogID": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "Master Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ReportPages_Batch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FirstTimeLoadMasterPipelinesExecution_V1_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Workspaces_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Capturing LogID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WorkSpaces",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"AppTenantId": {
									"value": "@pipeline().parameters.AppTenantId",
									"type": "Expression"
								},
								"AppClientId": {
									"value": "@pipeline().parameters.AppClientId",
									"type": "Expression"
								},
								"AppClientCode": {
									"value": "@pipeline().parameters.AppClientCode",
									"type": "Expression"
								},
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Reports_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Reports",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "ReportPages_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Reports_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ReportPages_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Datasets_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Datasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Datasetusers_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DatasetUsers_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Dataflows_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataFlows",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Datasetrefresh_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DatasetRefreshes_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DataflowRefreshes_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Dataflows_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataFlowRefreshes_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Add Data Load Tracker Details",
						"description": "Added Tracker Id",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DataLoadTrack_Insert]",
							"storedProcedureParameters": {
								"AppTentantId": {
									"value": null,
									"type": "String"
								},
								"AppClientId": {
									"value": null,
									"type": "String"
								},
								"AppClientSecret": {
									"value": null,
									"type": "String"
								},
								"PipelineRunId": {
									"value": null,
									"type": "String"
								},
								"ProcessStartTime": {
									"value": null,
									"type": "Datetime"
								},
								"ProcessEndTime": {
									"value": null,
									"type": "Datetime"
								},
								"Status": {
									"value": null,
									"type": "String"
								},
								"CurrentStatus": {
									"value": null,
									"type": "String"
								},
								"IsFirstTimeLoad": {
									"value": null,
									"type": "Boolean"
								},
								"TriggerType": {
									"value": null,
									"type": "String"
								},
								"CreatedDate": {
									"value": null,
									"type": "Datetime"
								},
								"ModifiedDate": {
									"value": null,
									"type": "Datetime"
								},
								"TenantId": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_Dataloadtracker_SQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Capturing LogID",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Add Data Load Tracker Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Stored procedure_UpdatePIpelineExecution",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ReportPages_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Datasetrefresh_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Datasetusers_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DataflowRefreshes_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_UpdatePipelineExecutionStatus]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogID": {
									"value": {
										"value": "@activity('Capturing LogID').output.count",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunningStatus": {
									"value": "True",
									"type": "Boolean"
								},
								"Status": {
									"value": "Success",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ViewReports_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ViewReports",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WorkspaceUsers__Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WorkSpacesUsers_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AppTenantId": {
						"type": "string"
					},
					"AppClientId": {
						"type": "string"
					},
					"AppClientCode": {
						"type": "string"
					},
					"TenantId": {
						"type": "int"
					}
				},
				"variables": {
					"InProgress Status": {
						"type": "String",
						"defaultValue": "InProgress"
					},
					"LogID": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "Master Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ReportPages_Batch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InitialDataLoad_MasterPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Workspaces_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Capturing LogID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WorkSpaces",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								},
								"ClientId": {
									"value": "@pipeline().parameters.ClientId",
									"type": "Expression"
								},
								"OrganisationId": {
									"value": "@pipeline().parameters.OrganisationId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Reports_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Reports",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "ReportPages_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Reports_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ReportPages_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Datasets_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Datasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Datasetusers_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DatasetUsers_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Dataflows_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataFlows",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Datasetrefresh_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DatasetRefreshes_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DataflowRefreshes_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Dataflows_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataFlowRefreshes_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stored Precodure_startPipelineExecution",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_StartPipelineExecution]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunningStatus": {
									"value": "",
									"type": "Boolean"
								},
								"StartTime": {
									"value": "",
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Capturing LogID",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Stored Precodure_startPipelineExecution",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Stored procedure_UpdatePIpelineExecution",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ReportPages_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Datasetrefresh_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Datasetusers_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DataflowRefreshes_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_UpdatePipelineExecutionStatus]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogID": {
									"value": {
										"value": "@activity('Capturing LogID').output.count",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunningStatus": {
									"value": "True",
									"type": "Boolean"
								},
								"Status": {
									"value": "Success",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ViewReports_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ViewReports",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WorkspaceUsers__Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WorkSpacesUsers_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Capturing DataLoadTrackerId",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ClientId": {
						"type": "String",
						"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
					},
					"TenantId": {
						"type": "String",
						"defaultValue": "008502d6-3f79-46f0-ab37-9354e3fe80ff"
					},
					"AZSecretName": {
						"type": "String",
						"defaultValue": "UBTIClientSecretName"
					},
					"OrganisationId": {
						"type": "String",
						"defaultValue": "001"
					}
				},
				"variables": {
					"InProgress Status": {
						"type": "String",
						"defaultValue": "InProgress"
					},
					"LID": {
						"type": "Integer"
					},
					"LogID": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "Master Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ReportPages_Batch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Upset Master Pipelines Execution')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Workspaces_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Capturing LogID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WorkSpaces",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"TenantId": {
									"value": "@pipeline().parameters.TenantId",
									"type": "Expression"
								},
								"ClientId": {
									"value": "@pipeline().parameters.ClientId",
									"type": "Expression"
								},
								"OrganisationId": {
									"value": "@pipeline().parameters.OrganisationId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Reports_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Reports",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "ReportPages_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Reports_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ReportPages_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Datasets_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Datasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Datasetusers_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DatasetUsers_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Dataflows_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataFlows",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Datasetrefresh_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Datasets_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DatasetRefreshes_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DataflowRefreshes_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Dataflows_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataFlowRefreshes_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stored Precodure_startPipelineExecution",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_StartPipelineExecution]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunningStatus": {
									"value": "False",
									"type": "Boolean"
								},
								"StartTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Capturing LogID",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Stored Precodure_startPipelineExecution",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Stored procedure_UpdatePIpelineExecution",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ReportPages_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Datasetrefresh_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Datasetusers_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DataflowRefreshes_Master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_UpdatePipelineExecutionStatus]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogID": {
									"value": {
										"value": "@activity('Capturing LogID').output.count",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunningStatus": {
									"value": "True",
									"type": "Boolean"
								},
								"Status": {
									"value": "Success",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_Pipeline_Status_Log",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ViewReports_Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ViewReports",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WorkspaceUsers__Master",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Workspaces_Master",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WorkSpacesUsers_Batch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ClientId": {
						"type": "String",
						"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
					},
					"TenantId": {
						"type": "String",
						"defaultValue": "008502d6-3f79-46f0-ab37-9354e3fe80ff"
					},
					"AZSecretName": {
						"type": "String",
						"defaultValue": "UBTIClientSecretName"
					},
					"OrganisationId": {
						"type": "String",
						"defaultValue": "001"
					}
				},
				"variables": {
					"InProgress Status": {
						"type": "String",
						"defaultValue": "InProgress"
					},
					"LID": {
						"type": "Integer"
					},
					"LogID": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "Master Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ReportPages_Batch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily 1 PM Data Refresh')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Daily Upsert the data for each Tenant (Organisation)",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Upset Master Pipelines Execution",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-11-13T10:13:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Upset Master Pipelines Execution')]"
			]
		}
	]
}