ubtiPBIMonitor/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ubtiPBIMonitor"
		},
		"ADF_Pipeline_Status_Log_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ADF_Pipeline_Status_Log'"
		},
		"BaseURl_LS_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'BaseURl_LS'"
		},
		"Capacities_History_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Capacities_History'"
		},
		"Capturing Error Message_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Capturing Error Message'"
		},
		"DB_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DB_UAT'"
		},
		"DataflowHistory_sql_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DataflowHistory_sql_UAT'"
		},
		"DataflowLive_sql_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DataflowLive_sql_UAT'"
		},
		"DataflowRefreshesHistory_sql_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DataflowRefreshesHistory_sql_UAT'"
		},
		"DataflowRefreshesLive_sql_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DataflowRefreshesLive_sql_UAT'"
		},
		"DataflowRefreshesStaging_sql_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DataflowRefreshesStaging_sql_UAT'"
		},
		"DataflowStaging_sql_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DataflowStaging_sql_UAT'"
		},
		"DatasetHistory_sql_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DatasetHistory_sql_UAT'"
		},
		"DatasetLive_sql_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DatasetLive_sql_UAT'"
		},
		"DatasetRefreshesHistory_sql_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DatasetRefreshesHistory_sql_UAT'"
		},
		"DatasetRefreshesLive_sql_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DatasetRefreshesLive_sql_UAT'"
		},
		"ADF_Pipeline_Status_Log_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"ADF_Pipeline_Status_Log_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"ADF_Pipeline_Status_Log_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"AzureKeyValut_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net/secrets/Test/2e40720515104f8f999ea62a40049e9b"
		},
		"AzureKeyVault2_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net/secrets/Test/2e40720515104f8f999ea62a40049e9b"
		},
		"AzureSQLCredentials_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-pbimonitor-dev.vault.azure.net/"
		},
		"BaseURl_LS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.powerbi.com"
		},
		"BaseURl_LS_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "6077f1b3-2daf-4b4f-9dc7-f6126cf209be"
		},
		"Capturing Error Message_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"Capturing Error Message_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Dev"
		},
		"Capturing Error Message_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DB_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DB_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DB_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DataflowHistory_sql_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DataflowHistory_sql_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DataflowHistory_sql_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DataflowLive_sql_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DataflowLive_sql_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DataflowLive_sql_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DataflowRefreshesHistory_sql_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DataflowRefreshesHistory_sql_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DataflowRefreshesHistory_sql_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DataflowRefreshesLive_sql_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DataflowRefreshesLive_sql_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DataflowRefreshesLive_sql_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DataflowRefreshesStaging_sql_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DataflowRefreshesStaging_sql_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DataflowRefreshesStaging_sql_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DataflowStaging_sql_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DataflowStaging_sql_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DataflowStaging_sql_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DatasetHistory_sql_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DatasetHistory_sql_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DatasetHistory_sql_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DatasetLive_sql_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DatasetLive_sql_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DatasetLive_sql_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DatasetRefreshesHistory_sql_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DatasetRefreshesHistory_sql_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DatasetRefreshesHistory_sql_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		},
		"DatasetRefreshesLive_sql_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ubti-ssvr-d-pbimonitor.database.windows.net"
		},
		"DatasetRefreshesLive_sql_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerPulseDB-Stage"
		},
		"DatasetRefreshesLive_sql_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsql"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Test_variable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Wait2",
						"type": "Wait",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Wait3",
						"type": "Wait",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Wait1",
							"value": "[[object Object]"
						}
					},
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Wait2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Wait2",
							"value": {
								"value": "@activity('Wait2').Duration",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable3",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Wait3",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Wait3",
							"value": {
								"value": "@activity('Wait3').Duration",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Wait1": {
						"type": "String"
					},
					"Wait2": {
						"type": "String"
					},
					"Wait3": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_Pipeline_Status_Log')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ADF_Pipeline_Status_Log_properties_typeProperties_server')]",
					"database": "[parameters('ADF_Pipeline_Status_Log_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ADF_Pipeline_Status_Log_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ADF_Pipeline_Status_Log_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyValut')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyValut_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault2_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLCredentials')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureSQLCredentials_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BaseURl_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('BaseURl_LS_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('BaseURl_LS_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('BaseURl_LS_clientSecret')]"
					},
					"tokenEndpoint": "https://login.microsoftonline.com/008502d6-3f79-46f0-ab37-9354e3fe80ff/oauth2/v2.0/token",
					"scope": "https://analysis.windows.net/powerbi/api/.default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Capacities_History')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Capacities_History_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Capturing Error Message')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Capturing Error Message",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Capturing Error Message_properties_typeProperties_server')]",
					"database": "[parameters('Capturing Error Message_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Capturing Error Message_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Capturing Error Message_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DB_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DB_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DB_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DB_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DB_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataflowHistory_sql_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataflowHistory_sql_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DataflowHistory_sql_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DataflowHistory_sql_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DataflowHistory_sql_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DataflowHistory_sql_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataflowLive_sql_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataflowLive_sql_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DataflowLive_sql_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DataflowLive_sql_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DataflowLive_sql_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DataflowLive_sql_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataflowRefreshesHistory_sql_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataflowRefreshesHistory_sql_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DataflowRefreshesHistory_sql_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DataflowRefreshesHistory_sql_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DataflowRefreshesHistory_sql_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DataflowRefreshesHistory_sql_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataflowRefreshesLive_sql_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataflowRefreshesLive_sql_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DataflowRefreshesLive_sql_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DataflowRefreshesLive_sql_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DataflowRefreshesLive_sql_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DataflowRefreshesLive_sql_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataflowRefreshesStaging_sql_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataflowRefreshesStaging_sql_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DataflowRefreshesStaging_sql_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DataflowRefreshesStaging_sql_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DataflowRefreshesStaging_sql_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DataflowRefreshesStaging_sql_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataflowStaging_sql_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataflowStaging_sql_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DataflowStaging_sql_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DataflowStaging_sql_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DataflowStaging_sql_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DataflowStaging_sql_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetHistory_sql_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DatasetHistory_sql_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DatasetHistory_sql_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DatasetHistory_sql_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DatasetHistory_sql_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DatasetHistory_sql_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetLive_sql_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DatasetLive_sql_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DatasetLive_sql_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DatasetLive_sql_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DatasetLive_sql_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DatasetLive_sql_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetRefreshesHistory_sql_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DatasetRefreshesHistory_sql_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DatasetRefreshesHistory_sql_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DatasetRefreshesHistory_sql_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DatasetRefreshesHistory_sql_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DatasetRefreshesHistory_sql_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetRefreshesLive_sql_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DatasetRefreshesLive_sql_UAT",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DatasetRefreshesLive_sql_UAT_properties_typeProperties_server')]",
					"database": "[parameters('DatasetRefreshesLive_sql_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DatasetRefreshesLive_sql_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DatasetRefreshesLive_sql_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}